[2013-10-05 19:09] drnic opened #1 "Support rubinius 2"
Rubinius 2 has finally come out. http://rubini.us/2013/10/04/rubinius-2-0-released/

When I try to enable it in my Gemfile:

[code]

And deploy, I get the following error:

[code]

[2013-11-02 20:12] mrbrdo opened #3 "JRuby support is terribly broken"
see https://github.com/cloudfoundry/heroku-buildpack-ruby/pull/2

[2014-01-15 16:19] #1 closed, assigned to nobody

[2014-01-15 16:32] #3 closed, assigned to nobody

[2014-01-28 16:41] praveend opened #7 "Detecting ibm_db adapter for Rails app when connecting to DB2 from Rails"
Hi,

Currently the ruby-buildpack determines the rails adapter from the URI scheme while laying out the database.yml. As we all know the adapter name for accessing db2 or Informix database is ibm_db. Request you to have a check in the create_database_yml method in file ruby.rb under lib/language_pack, to change adapter name to ibm_db if database being connected to is DB2 or Informix.

Also, in the

[2014-02-06 20:24] #7 closed, assigned to nobody

[2014-03-11 12:03] andypiper opened #8 "Doesn't support Ruby 2.1.0"
[code]

Using the latest Heroku Ruby buildpack https://github.com/heroku/heroku-buildpack-ruby does work. Sync with upstream?

[2014-05-30 22:10] maxbrunsfeld opened #10 "test for community pair bot"
ignore this

[2014-05-30 22:12] #10 closed, assigned to nobody

[2014-06-03 16:23] #8 closed, assigned to nobody

[2014-06-12 22:44] jfoley opened #11 "testing gitbot integration"

[2014-06-12 22:53] #11 closed, assigned to nobody

[2014-06-12 22:53] jfoley opened #12 "testing gitbot integration 2"

[2014-06-16 19:30] d-reinhold opened #13 "Allow app to specify BUNDLE_GEMFILE environment variable"
Our app needs to use different gems in different environments. Our gems need to be vendored so we can install them without internet, but since there is no way to package subsets of gems in a Gemfile (see https://github.com/bundler/bundler/issues/2595), we need to be able to switch between Gemfiles at deploy time. Bundler respects the BUNDLE_GEMFILE environment variable which can be set before usin

[2014-06-20 22:07] #13 closed, assigned to nobody

[2014-06-20 22:08] #12 closed, assigned to nobody

[2014-07-17 15:23] pivotalfish opened #14 "/home/vcap/app/vendor/ruby-2.0.0/lib/ruby/2.0.0/irb/completion.rb:9:in `require': libreadline.so.5: cannot open shared object file: No such file or directory"
When requiring `readline`, we get this error:

[code]

We resolved the issue by including https://github.com/cloudfoundry/php-buildpack/raw/master/builds/src/lib/libreadline.so.5 in the top level directory of our Rails application.

Should the buildpack handle this by default?

[2014-07-18 04:32] nota-ja opened #15 ""bosh create release" fails because there is no recent tag in ruby-buildpack"
Today we have experienced the issue described below while running "bosh create release" against a modified version of cf-release v172:

[code]

I guess this may be caused by the recent deletion of tags at ruby-buildpack.
Is it able to resurrect the tags deleted?

[2014-07-18 15:01] #15 closed, assigned to nobody

[2014-08-01 23:15] emalm opened #16 "Warning output during staging"
We're seeing some warning output about `already initialized constant DEPENDENCIES_PATH` during staging of ruby apps (the ERR lines from the `cf logs` output below):

[code]

This is happening when we stage [dora from the CATs](https://github.com/cloudfoundry/cf-acceptance-tests/tree/master/assets/dora), for example.

Thanks,
Eric

[2014-08-11 18:50] squeedee opened #17 "Issue testing"
Testing gitbot

[2014-08-11 18:52] #17 closed, assigned to nobody

[2014-09-08 15:31] pivotalfish opened #20 "Can we add '--retry <num>' to the bundle install calls?"
Sometimes the rubygems (or whatever gem server) craps out which breaks a deployment.

Having a --retry 3 works around this as a problem. (We're also vendoring gem, but I believe bundler may still reach back out to the dependency API in some circumstances.)

--retry shows up post v1.5 according to the doco on bundler.io

[2014-09-11 15:27] #20 closed, assigned to nobody

[2014-09-18 16:12] #16 closed, assigned to nobody

[2014-09-18 16:16] #14 closed, assigned to nobody

[2014-10-22 06:29] lyuyun opened #23 "Can not run the tests"
Not found the `buildpack-build` file, how to run the tests?

[code]

[2014-10-22 17:41] #23 closed, assigned to nobody

[2014-11-14 00:53] TildeWill opened #24 "Can't push new app with ruby-buildpack v1.1.3"
Ruby version: 2,.1.3
Org: Pivotal Feedback
Space: staging

We're trying to push a new scheduler/cron app for our existing web app. The push fails during the bundle step with the following message:
[code]
The commit we're pushing is https://github.com/pivotal/pivotal-feedback/commit/1909f0421933735e84a7784c53d056053f699616

We deleted one of our apps that was initially deployed using ruby-buildpack

[2014-12-04 18:10] pivotal-feedback opened #26 "Buildpack fails when trying to untar Ruby"
When pushing an app, staging fails on PWS when the buildpack tries to untar Ruby. We see the same behavior for 2.1.4 and 2.1.3 (haven't tried 2.1.2). Below is the output and corresponding logs:

Output from push:

[code]

And logs:

[code]

We then tried curling the buildpack ourselves, and got a 403:

[code]

[2014-12-09 20:30] #26 closed, assigned to nobody

[2014-12-20 00:53] pivotal-feedback opened #27 "Buildpack logs to STDERR when doing normal operations"
It's kinda scary to watch the log output as an app is deploying when there's a big red block of text. Seems like it should all go to STDOUT:

[code]

[2015-01-08 16:17] lukaslehmann opened #28 "doesn't support version 2.2.0"
Hi Guys

Same as here with version 2.2.0;
https://github.com/cloudfoundry/ruby-buildpack/issues/8

Best regards
Lukas

[2015-01-08 16:46] jchesterpivotal commented on #28
Thanks, Lukas. When we roll the next buildpack it'll be included as a matter of course.

I'm closing this issue here.

[2015-01-08 16:46] #28 closed

[2015-01-08 18:49] lukaslehmann commented on #28
Thanks @jchesterpivotal !

[2015-01-09 19:49] nertzy opened #29 "README refers to bin/package which doesn't exist"
The README talks about running bin/package and has a link to it, but that file doesn't exist.

[2015-01-09 20:25] jchesterpivotal commented on #29
Thanks, @nertzy. Oversight on our part. We've also noted the same problem with the READMEs on 3 other buildpacks.

[2015-01-09 20:25] jchesterpivotal commented on #29
I'll loop back and close this one when the README has been brought up to date.

[2015-01-19 14:08] rvennam commented on #29
While the README is being updated, can you point us to a doc which outlines the correct procedure?

[2015-01-19 16:35] squeedee commented on #29
[code]
This is from memory but I'm pretty sure it will work. The cf.Gemfile includes the buildpack-packager 'gem' (which is only a github repo)

[2015-01-21 18:22] rvennam commented on #29
Thanks! I think you meant the env. var BUNDLE_GEMFILE instead of GEMFILE though:

BUNDLE_GEMFILE=cf.Gemfile bundle install
BUNDLE_GEMFILE=cf.Gemfile bundle exec buildpack-packager [online|offline]

[2015-01-27 14:56] jchesterpivotal commented on #29
We've updated the README, so I am going to close this issue.

[2015-01-27 14:56] #29 closed

[2015-01-27 16:37] squeedee commented on #27
New story in Buildpacks backlog: https://www.pivotaltracker.com/n/projects/1042066/stories/85124412

[2015-02-17 17:12] mikfreedman opened #30 "can't push an app that relies on jdbc jars being on the classpath"
When using v1.2.1 of the ruby buildpack we seem to have problems loading a jar during staging that we didn't have on 1.2.0!

*This is from a broken 1.2.1 deployment*
[code]

resulting in the following error during staging

[code]

*This is from a working 1.2.0 deployment*
[code]

it would seem that the most salient differences are:

* Environment variables:

1.2.1
[code]

1.2.0
[code]

* Java 8 vs

[2015-02-18 17:13] jchesterpivotal commented on #30
## Workaround

[code]

## Explanation

Ruby buildpack 1.2.1 pulled in numerous upstream changes from Heroku.

A key change, which we did not notice at the time, is that the buildpack now selects [JDK 1.8 as the default JRuby JDK](https://github.com/cloudfoundry/ruby-buildpack/commit/e20aac0b0632f0835c6dec0a1046bab85a04a57f).

The oracle_enhanced gem [at version 1.4.3 doesn't recognise JDK 1.8](htt

[2015-02-18 17:13] #30 closed

[2015-03-20 07:10] df007 opened #32 "Fail to run cf mysql broker : https://github.com/cloudfoundry/cf-mysql-broker"
Fail to run cf mysql broker : https://github.com/cloudfoundry/cf-mysql-broker
Looks this buildpack contains some prebuilt rails, which conflict with rails on Gemfile of cf-mysql-broker

[2015-03-23 14:48] flavorjones commented on #32
Hello @df007!

Thank you for reporting this. Can you provide any details about why you think this is a `ruby-buildpack` issue? Can you attach a gist or pastebin of your `cf logs --recent`?

The Buildpacks team isn't familiar with this application, and so we may also route it to the MySQL Broker team.

[2015-03-24 01:39] devtdeng opened #33 "Supported ruby version should be listed in each release branch"
Currently, the only way to know supported ruby, rails version is to check the build pack source code. Better to have these information documented in docs.

[2015-03-24 08:10] dwu-pivotal commented on #32
Thx @flavorjones,
I'm not sure whether it's a bug for MySQL broker, or ruby buildpack. But that MySQL broker runs properly in a standard ruby/bundle env, but fails with ruby buildpack.
cf logs --recent provide nothing useful.. Maybe, you can have a quick try to deploy cf-mysql-broker?

[2015-03-24 14:14] jtarchie commented on #32
@dwu-pivotal, please send us the logs of the application. They provide a lot of information of the staging of an application and anything that might have failed.

For instance, we did push out the app on our local Bosh Lite environment. It provided information that there was configuration missing in the `app/config/settings.yml`.

[code]

Thanks, JT

[2015-03-24 14:32] df007 commented on #32
Here you are：
2015-03-24T22:26:18.27+0800 [API/0]      OUT Updated app with guid 3097b670-cf96-413d-9ec3-7d5c4efe6dd6 ({"state"=>"STOPPED"})
2015-03-24T22:26:18.75+0800 [DEA/0]      OUT Got staging request for app with id 3097b670-cf96-413d-9ec3-7d5c4efe6dd6
2015-03-24T22:26:41.93+0800 [API/0]      OUT Updated app with guid 3097b670-cf96-413d-9ec3-7d5c4efe6dd6 ({"state"=>"STARTED"})
2015-03-24T22:

[2015-03-24 14:52] jtarchie commented on #32
@df007, from the logs.

The correct version of `rails` is being installed. The `Gemfile.lock` reports that the version should be `4.0.2` and the logs reflect that it was installed via `bundle` correctly.

This is an application issue. Please create an [issue](https://github.com/cloudfoundry/cf-mysql-broker/issues) on the application's github repo. We have reached out to the team members for the ap

[2015-03-24 14:52] #32 closed

[2015-03-26 18:58] rvennam opened #34 "Update default runtime version?"
Any plans to update default runtime version of Ruby to a later stable version (2.1.5 or 2.2.1)?

https://github.com/cloudfoundry/ruby-buildpack/blob/master/lib/language_pack/ruby.rb#L19

[2015-03-27 13:41] flavorjones commented on #34
Hi! Thanks for asking this question.

Yes, we're planning to include all latest versions of Ruby in an updated Ruby bulidpack. You can see our public backlog here: https://www.pivotaltracker.com/n/projects/1042066

Currently we're attempting to deal with the fact that, now that buildpacks support two stacks, the buildpacks have grown to an unwieldy size. As a result, we've been delayed a bit in sh

[2015-04-01 12:21] rvennam commented on #34
Thanks. I understand that additional Ruby versions are being added to the buildpack. However, my question was regarding the default Ruby version chosen when no version is specified in the Gemfile. DEFAULT_RUBY_VERSION = "ruby-2.0.0"
https://github.com/cloudfoundry/ruby-buildpack/blob/master/lib/language_pack/ruby.rb#L19

[2015-04-03 13:13] rvennam commented on #34
Thanks for creating the story:
https://www.pivotaltracker.com/n/projects/1042066/stories/91706560

[2015-04-29 16:27] flavorjones commented on #34
I've prioritized the story in our backlog; the next release should update the default Ruby version.

[2015-06-02 14:24] dmikusa-pivotal opened #35 "Problem with LD_LIBRARY_PATH & libreadline.so"
According to [Ruby buildpack source](https://github.com/cloudfoundry/ruby-buildpack/blob/master/lib/cloud_foundry/language_pack/ruby.rb), it sets `$HOME/ld_library_path` as its default LD_LIBRARY_PATH.

[code]

And `app/ld_library_path/libreadline.so.5` is symlink to `/usr/lib/libreadline.so` [code](https://github.com/cloudfoundry/ruby-buildpack/blob/master/lib/cloud_foundry/language_pack/helpers/

[2015-06-09 15:29] jtarchie commented on #35
After thorough investigation, we've determined that this not a readline problem.
It turns out that Jekyll was following a non-existent libreadline symlink when generating the static files. This is because the buildpack puts a symlink in place for the lucid64, which is not needed on cflinuxfs2.

When @nicwilliams disabled auto-generation, this caused the dead symlink to be followed, resulting in th

[2015-06-09 15:29] #35 closed

[2015-07-15 02:38] jadekler opened #37 "Buildpack gzip error"
Hey guys, had this occur today:

[code]

It seems to have only occurred once.

[2015-07-15 13:24] aemengo commented on #37
It looks like there might have been an intermittent issue with internet connectivity when trying to download one of the buildpack dependencies. I just tried retrieving the culprit file right now and had no issue and also pushed a sample rails app using our ruby-buildpack, so I think that there might be nothing to do here - especially since it only seemed to happen once. If you see this issue raise

[2015-07-15 13:24] #37 closed

[2015-07-21 21:49] matobinder opened #38 "Warning about Procfile not existing, webbrick"
So I think this is just a "noisy" warning, not even sure if means anything.

When ever I do a "cf push" of my app into Cloud Foundry, I get the following warning.
###### WARNING:
       No Procfile detected, using the default web server (webrick)
       https://devcenter.heroku.com/articles/ruby-default-web-server

My manifest.yaml file has
  command: rackup -p $PORT --server thin ./config.ru
And

[2015-07-22 15:20] jtarchie commented on #38
@matobinder for general questions, please feel free to join the [mailing list](http://lists.cloudfoundry.org). There are lot active users of Cloud Foundry that can help with support and setup of apps, deployments, etc.

As for your issue above, the buildpack does not detect the start command in your application code, so it tries to supply one. When you specify a start command in your `manifest.yml

[2015-07-22 15:20] #38 closed

[2015-07-28 22:40] factorypreset opened #39 "Update version of bundler in the buildpack"
The ruby-buildpack currently supplies version 1.7.12 of bundler. However the current version (as of today) is 1.10.5. The cloudfoundry ruby-buildpack should update to at least version 1.9.x.

It seems that some work was done earlier in the year to update to bundler 1.9. See:
https://www.pivotaltracker.com/n/projects/1042066/stories/90697228

At that time it was determined that the latest bundler s

[2015-07-29 14:29] flavorjones commented on #39
Hi! Thanks for asking this question.

As of ruby-buildpack v1.4.2, we're shipping bundler 1.9.7. You can always see what we're shipping by looking at the `manifest.yml` in a core buildpack:

Is it possible that you're using an older version of the buildpack? It looks like v1.2.1 updated to Bundler 1.7, so I'm guessing you're running somewhere in the range of v1.2.1..v1.4.2.

[2015-07-29 14:29] #39 closed

[2015-07-30 00:40] factorypreset commented on #39
Hi @flavorjones -- thanks, you're right! -- it turns out I do indeed have v1.3.0. Do you happen to know what cf-release included the update to ruby-buildpack v1.4.2+? (from the timing it seems like it might have been cf-release 208).

[2015-07-30 19:23] flavorjones commented on #39
@factorypreset The commit putting ruby-buildpack v1.4.2 on cf-release was eead0a0ce88de7a46cb8854ea6caca61b95e3024, which first appeared in v211.

[2015-08-23 09:39] rkutin opened #41 "Can't push builpack with ruby-2.1.5"
Hello,

Since yesterday I have detected that application can not be pushed anymore using this buildpack. Here is error received:

2015-08-23T11:18:43.37+0200 [STG/0]      ERR Cloning into '/tmp/buildpacks/ruby-buildpack'...
2015-08-23T11:18:47.71+0200 [STG/0]      OUT Submodule 'compile-extensions' (https://github.com/cloudfoundry/compile-extensions) registered for path 'compile-extensions'
2015-0

[2015-08-23 09:45] aemengo commented on #41
@rkutin Ruby 2.1.5 is not supported with ruby buildpack 1.6.5. We recommend updating the ruby specified by your application's Gemfile to 2.2.3. For more details about which binaries are supported by the buildpack, please refer to the release notes: https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.5

[2015-08-23 10:04] rkutin commented on #41
Ok thank you. Passed to 2.1.7 that is also supported.
And got a good lesson that better to force definition of specific version of buldpack to avoid such "good" surprises when everybody are on holidays and app is crashed after simple restage... (just because version become unsupported and trashed)

Thanks again for your feedback.

[2015-08-23 10:49] rkutin commented on #41
@aemengo regarding the compatibility list - 2.1.7 should be supported. But with the ruby 2.1.7 it does not work neither... With similar error.

2015-08-23T12:44:38.43+0200 [API/2]      OUT Created app with guid b8607b89-32d8-443f-a8c5-a97489f85d20
2015-08-23T12:47:10.10+0200 [DEA/103]    OUT Got staging request for app with id b8607b89-32d8-443f-a8c5-a97489f85d20
2015-08-23T12:47:18.17+0200 [API/5

[2015-08-23 10:56] aemengo commented on #41
@rkutin No problem. I'll mark this issue closed then.

[2015-08-23 10:56] #41 closed

[2015-09-02 14:43] jtarchie commented on #33
@devtdeng in the Release Notes for each release we now include all the [Ruby versions supported](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.5).

[2015-09-02 14:43] #33 closed

[2015-09-05 09:37] zidekmat opened #42 "Update buildpack so it doesn't remove config/database.yml"
Replacing database.yml is not really necessary because now you can't specify the schema you want to use. For example if you want to use blue/green zero downtime deployment with database supporting multiple schemas, then it's not even possible. When you deploy blue it's using schema 'user1' and deploying green makes it use another schema 'user2' so you would need to move all data between schemas.
H

[2015-09-08 14:20] jtarchie commented on #42
@zidekmat the buildpack pulls from upstream of Heroku's Ruby buildpack. The issues that you point to are actually [already merged](https://github.com/cloudfoundry/ruby-buildpack/blob/master/lib/language_pack/rails41.rb#L18) in. For anything Rails 4.1 and above, a `database.yml` does not get generated.

[2015-09-08 14:20] #42 closed

[2015-09-10 14:58] gudatcomputers opened #43 "BuildpackCompileFailed when running curl for bundler"
Trying to use buildpack v1.4.2 and logs show that getting bundler from s3 fails.

Cloning into 'compile-extensions'...
Submodule path 'compile-extensions': checked out '4d1038d2d7b23ec303491db4fba80faf8651a90d'
-------> Buildpack version 1.4.2
 !
 !     Command: 'set -o pipefail; curl --fail --retry 3 --retry-delay 1 --connect-timeout 10 --max-time 90 https://pivotal-buildpacks.s3.amazonaws.com/ru

[2015-09-10 20:31] jtarchie commented on #43
@gudatcomputers we are unable to recreate this issue. I don't know what is causing the resetting of TCP connections. I've tried on two different networks in NYC and SF with no problems. Could it be your network?

To prevent problems like this, we highly recommend using the cached buildpack that can be downloaded from the [github releases](https://github.com/cloudfoundry/ruby-buildpack/releases). T

[2015-09-14 17:40] gudatcomputers commented on #43
@jtarchie I assume it is a problem with our network.  We ended up downloading the cached buildpack.

[2015-09-14 17:40] #43 closed

[2015-09-15 11:34] zidekmat commented on #42
I'm sorry, I didn't notice it's for Rails 4.1+. Thanks :)

[2015-10-21 20:27] roxtar opened #44 "Cloud Foundry ruby buildpack points to heroku docs"
Every time I push a ruby based app I get the following warning which points to Heroku docs. Do we not have our own set of docs which explain the warning?

[code]

[2015-12-30 19:51] Dannyzen commented on #27
This story was completed and this is good to close

[2015-12-30 19:51] #27 closed

[2015-12-30 19:54] Dannyzen commented on #44
Hey @roxtar since we are upstream from Heroku we also inherent their error messaging.
If this does not answer your question please re-open this issue.

[2015-12-30 19:54] #44 closed

[2015-12-30 19:55] #34 closed

[2015-12-30 19:57] #24 closed

[2016-01-20 10:12] IkuEisou opened #46 "How to make ruby-buildpack work behind the proxy？"
I deployed a CF on a PC with cf_nise_installer, and push a sample app that comes from "https://github.com/yudai/cf_nise_installer/tree/master/test_app".
When starting the app, there is a error as following.
Starting app hello in org DevBox / space sp1 as admin...
-----> Downloaded app package (1.4M)
-------> Buildpack version 1.6.7
-----> Compiling Ruby/Rack
-----> Using Ruby version: ruby-2.2.3
-

[2016-01-20 17:10] jtarchie commented on #46
@IkuEisou the ruby buildpack uses `curl` for all its HTTP processing.

If you set the environment variable `http_proxy`, then `curl` should pick it up. You can do that with either your `manifest.yml` or with `cf set-env`.

Let us know if that works for you.

[2016-01-21 02:35] IkuEisou commented on #46
Thank you for your reply.
I has set up environment variable  http_proxy and manifest.yml for sample app as follow.
############################################################
$ cf env hello
Getting env variables for app hello in org DevBox / space sp1 as admin...
OK

System-Provided:
{
 "VCAP_APPLICATION": {
  "application_id": "0679d8c2-e0c9-4f34-9a5e-d105cbe90f5d",
  "application_name": "hello"

[2016-01-21 12:45] jtarchie commented on #46
@IkuEisou, are you sure that the container has access to the proxy? There maybe a security group setup on the staging of the application -- `cf staging-security-groups` and then to see the specific rules `cf security-group <name>`. It could be blocking the proxy server from within the container.

You can also prepackage all your rubygems with your application, so when you push it up `bundle` does

[2016-01-22 03:35] IkuEisou commented on #46
I prepackage all of the rubygems with the app, and it works.Thank you very much.

I found that the DEA container can't access to the proxy.So I  tried to bind the public_networks and dns security group with my CF deployment, but it doesn't work.

My security group setup on the  staging of the application as following.
###############################################################
$ cf staging-sec

[2016-01-25 13:15] jtarchie commented on #46
@IkuEisou it looks like you might need to add your `private_networks` security-group to `staging-security-groups` to allow communication in that IP address range.

I'm going to close this issue, though, as this is not a buildpack related issue. If you have more questions about security groups and CF setup, please ask in the [cf-dev mailing list](https://lists.cloudfoundry.org/archives/list/cf-dev@

[2016-01-25 13:15] #46 closed

[2016-02-04 17:09] warroyo opened #48 "use rubygems mirror for bundle install"
Is it possible to rebuild the buildpack so the default location to install ruby gems from is not rubygems.org. At my company we do not have internet access for installing gems when deploying apps. I know it is possible to use a cached version of the buildpack and have the app vendor its dependencies, but we have an internal mirror of rubygems.org. Is there a setting that can be changed to allow fo

[2016-02-04 17:37] davidjahn commented on #48
Hi @warroyo , this should be as simple as running:

[code]

You can then commit the ".bundle" directory to your app's codebase to ensure the behavior happens for every future `cf push`. Let me know if this solves your problem!

Best
David

[2016-02-04 17:39] warroyo commented on #48
thank you @davidjahn I will give this a try

[2016-02-04 18:49] flavorjones commented on #48
@warroyo Our recommended practice is to vendor all your rubygems into your application, so that there's no need to download gems during application staging.

You can do this by running

[code]

before `cf push`ing.

[2016-02-04 19:35] warroyo commented on #48
thank you, this is working for me .

[2016-02-04 19:35] #48 closed

[2016-02-05 20:30] LukeWinikates opened #50 "Profile warning seems misleading"
When pushing a Ruby app that specifies a `command` in the manifest.yml like this:

[code]

I see this warning:

[code]

But then later, I see

[code]

So clearly CF is using Thin, presumably because it's in the command. It's not using Webrick, so the Procfile warning isn't accurate, at least on PWS.

[2016-02-05 20:41] flavorjones commented on #50
Right, this is because of this code, which we've inherited from the upstream Heroku ruby buildpack:

We may want to consider omitting this message if the application has declared a start command.

[2016-02-17 22:57] Dannyzen opened #51 "RFC: Ruby Buildpack and removing Ruby 2.0.0 support"
Hi There,

As you may be aware the Ruby buildpack currently includes Ruby 2.0.0 [1]. As maintenance support for Ruby 2.0 will be removed on February 24th [2] we would like to remove support for version 2.0.0 in the near future.

Our preference is to move forward with the changes to the buildpack by 3/1/2016. If you have any concerns or feedback please comment on this issue.

[1] - https://github.c

[2016-02-18 15:40] JasmoMyer opened #52 "Update bundler version in the ruby-buildpack"
Hello there,

The current version of bundler shipping with the cloudfoundry ruby-buildpack is 1.9.7 (from what I can see in the manifest.yml)

I wonder if bundler could be updated to the latest non-pre-release, 1.11.2 (https://github.com/bundler/bundler/blob/master/CHANGELOG.md)

That would be awesome.

Thanks!

[2016-02-22 19:57] flavorjones commented on #52
I'd like to vote in favor of this change as well.

I know we have our "ruby wildcard" PR coming in 1.12, and so understand if you want to wait for that, too.

[2016-02-24 20:37] Dannyzen commented on #52
Thanks for the feedback @JasmoMyer. @flavorjones and I were informed today that Bundler 1.12 is due to be released in the very near future. We'll be sure to respond with a new ruby buildpack including it then.

[2016-02-24 20:37] #52 closed

[2016-03-02 21:04] Dannyzen commented on #52
Hey @JasmoMyer a friendly heads up that we decided to include 1.11.2 in the most recent release: https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.14. Thanks for voicing your opinion earlier.

[2016-03-03 11:45] JasmoMyer commented on #52
Wonderful! Thanks for your help!

[2016-03-03 17:02] Dannyzen commented on #51
This has been completed in [Version 1.6.14](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.14)

[2016-03-03 17:02] #51 closed

[2016-04-05 18:46] RochesterinNYC commented on #50
Thanks for bringing this to our attention @LukeWinikates. We've decided to remove that warning

[code]

completely as it's fairly non-CF specific and both Diego and DEA will output in the logs what command was used to start your app.

This change is reflected in the following [commit](https://github.com/cloudfoundry/ruby-buildpack/commit/c7168a0f5ff0ff26fe3bc6feeeed1d79f05418b6) on the develop bra

[2016-04-05 18:46] #50 closed

[2016-04-11 21:29] davidjahn opened #53 "RFC: Change Node.js version from v0.12 to v4"
Hi,

The Ruby buildpack currently provides users access to Node by packaging it with Ruby apps pushed on Cloud Foundry. As discussed in the [related issue](https://github.com/cloudfoundry/nodejs-buildpack/issues/50) for the Node.js buildpack, since April 2016 [1] Node.js v0.12 will only be supported in a maintenance capacity.

To provide users with a longer active LTS schedule, we are proposing to

[2016-05-03 14:16] jvshahid opened #54 "RFC: Updating the default version of Ruby to 2.3.x"
Hi all,

We'd like to let you know that in the next week we'll be scheduling work to update the default version of Ruby in the Ruby Buildpack from 2.2.x to 2.3.x. This change only affects application that don't specify the version of Ruby in the Gemfile.

Please let us know if this is an undesired change either by commenting on this issue or replying to [this thread](https://lists.cloudfoundry.org

[2016-05-03 16:05] flavorjones commented on #54
+1 This seems reasonable to me.

[2016-05-09 13:45] #53 closed

[2016-05-09 20:15] Dannyzen opened #55 "Test Issue"

[2016-05-09 20:17] #55 closed

[2016-05-10 14:12] Dannyzen commented on #53
This has been committed to develop and will be in the [upcoming release](https://www.pivotaltracker.com/story/show/119085693) of the Ruby Buildpack

[2016-05-10 14:14] Dannyzen commented on #54
This has been committed to develop and will be in the [upcoming release](https://www.pivotaltracker.com/story/show/119085693) of the Ruby buildpack

[2016-05-10 17:16] jvshahid commented on #54
@Dannyzen should we close this issue given that the work is already done ?

[2016-05-10 17:22] Dannyzen commented on #54
:ship:

[2016-05-10 17:22] #54 closed

[2016-05-27 00:12] avellable opened #56 "Buildpack fails when Gemfile contains environment vars"
What version of Cloud Foundry are you using?

[code]

What version of the buildpack you are using?
latest viz. 1.6.18

If you were attempting to accomplish a task, what was it you were attempting to do?
Starting a pushed app.

What was the actual behavior?

[code]

My Gemfile contains:

[code]

[2016-06-06 15:47] geramirez commented on #56
FYI, we'll be working on a solution for this issue this week.

[2016-06-06 19:57] azzamallow opened #59 "Vanilla Ruby app requires version 4.1.0.beta1 or lower of ActiveRecord"
What version of Cloud Foundry are you using?
[code]

**What version of the buildpack you are using?** v1.6.18

**If you were attempting to accomplish a task, what was it you were attempting to do?**
Deploy a ruby worker app with a database configured

**What did you expect to happen?**
The application to be able to talk to the database via DATABASE_URL

**What was the actual behavior?**
The buildp

[2016-06-07 02:43] RochesterinNYC commented on #56
This has been addressed by https://github.com/cloudfoundry/ruby-buildpack/commit/6f0f13ffbd6e15717afcbf108250e5051b9f179c on develop. It will be available in the next ruby buildpack release.

[2016-06-07 02:43] #56 closed

[2016-06-13 14:15] RochesterinNYC commented on #59
The heroku ruby buildpack, which our CF buildpack is downstream from, will not create `database.yml` files for `activerecord` 4.1. It will instead use the `DATABASE_URL` environment variable in connecting to the database. We suggest you use this environment variable as well.

Heroku context:
heroku/heroku-buildpack-ruby#403
heroku/heroku-buildpack-ruby#364

Out of curiosity, is this a Ruby app tha

[2016-06-16 02:41] azzamallow commented on #59
Thanks for the clarification.

Yes it's a worker app, so there is web application layer such as rails or Sinatra involved.

[2016-06-16 02:41] #59 closed

[2016-06-17 07:22] liuweichu opened #60 "Ruby buildpack failed to analyze Gemfile with ruby syntax"
What version of Cloud Foundry are you using?
version: 220

What version of the buildpack you are using?
v1.6.19

If you were attempting to accomplish a task, what was it you were attempting to do?

[code]

What did you expect to happen?
I tried to push redmine 3.2.3 to the cloudfoundry with latest buildpack (v1.6.19), but it fails. Seems like during ruby-buildpack building ruby applications, there

[2016-06-20 13:30] flavorjones commented on #60
@liuweichu Have you tried using `::Gem` instead of plain-old `Gem`?

If not, please do and let us know how you get on.

[2016-06-20 13:41] flavorjones commented on #60
Actually, this log message:

[code]

is not good. Something else is going on. @RochesterinNYC any ideas?

[2016-06-20 18:27] cf-buildpacks-eng commented on #60
@liuweichu Thanks, we have added both of your examples to our test suite. We are now leveraging Bundler's DSL evaluator directly, and so the buildpack will correctly handle any Gemfile which is valid for Bundler.

Could you please push using the develop branch (eg. `cf push test -b https://github.com/cloudfoundry/ruby-buildpack.git#develop`) and tell us either way. If it works we will close this i

[2016-06-21 00:18] liuweichu commented on #60
@cf-buildpacks-eng
Tested on develop branch, it works!
Thank you for the quick respond.

Close this issue.

[2016-06-21 00:18] #60 closed

[2016-06-21 04:27] liuweichu commented on #60
@flavorjones Hi, I'm not sure what is `::Gem`. Could you please give me some more explanation?

[2016-06-21 19:33] allomov commented on #60
@liuweichu two double-colon tells ruby to start search for constant in global scope. You can find some details [here](http://stackoverflow.com/questions/3009477/what-is-rubys-double-colon).

I already created a PR to solve this issue https://github.com/cloudfoundry/ruby-buildpack/pull/57, but it was not fully accepted. This particular problem is caused, because `const_missing` in `LanguagePack::Ru

[2016-06-21 19:49] allomov commented on #60
@liuweichu looks like [this commit](https://github.com/cloudfoundry/ruby-buildpack/commit/df1aa3c24351ca1686195069063f4f1d22d8b1cc) should fix this issue in following ruby-buildpack version.

You can also use `develop` branch to try this fixes right now, just push your app in the following way:
[code]

[2016-06-22 02:39] liuweichu commented on #60
@allomov Thanks for telling me a new ruby trick 😃
I tested the develop against redmine's Gemfile, and it works perfectly.

[2016-07-14 06:08] lnhrdt opened #61 "Buildpack fails when Gemfile defines Ruby version programmatically"
In my RoR projects, I define the Ruby version in my Gemfile like so:

[code]

so that the Ruby version is synchronized with with rbenv (which I use in local development). When I try to deploy my application using using `cloudfoundry/ruby-buildpack` (PWS/v1.6.19), the buildpack cannot parse the Gemfile and fails (log included below).

I'd expect `cloudfoundry/ruby-buildpack` to configure the Ruby v

[2016-07-14 13:37] Dannyzen commented on #61
Hey @lnhrdt thanks for putting this issue in. I'm able to reproduce your issue and can confirm we've fixed this bug in the develop branch and plan on releasing the fix to master shortly. You can test this with `cf push appname -b "https://github.com/cloudfoundry/ruby-buildpack#develop"

[2016-07-14 13:37] #61 closed

[2016-07-14 16:41] Dannyzen commented on #61
This fix is now in master and available in ruby-buildpack [1.6.20](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.20)

[2016-07-15 17:38] lnhrdt commented on #61
Thank you @Dannyzen for the fast response and for the fix!

[2016-08-19 07:35] David-Pivotal opened #62 "Cannot set ActiveRecord connection pool size with database.yml in Rails4.1+/ruby_buildpack"
**What version of Cloud Foundry are you using?**
`API version: 2.59.0
`

**What version of the buildpack you are using?**
`
ruby_buildpack-cached-v1.6.21.zip
`

**If you were attempting to accomplish a task, what was it you were attempting to do?**
Override the default ActiveRecord connection pool size 5 with higher value 15

**What did you expect to happen?**
ActiveRecord connection pool size sho

[2016-08-19 13:28] RochesterinNYC commented on #62
If you `cf ssh` into your running app, and take a look at the `config/database.yml` file, has it been rewritten or does it match the `config/database.yml` contents on your local machine?

[2016-08-22 03:22] David-Pivotal commented on #62
Hi Rochester,

It matches the config/database.yml on my local machine.

`Daivd-Office-Mac:pong_matcher_rails-master ubuntu$ cf ssh railspong`
`vcap@qtnnq0qgbuu:~$ cd app                                         `
`vcap@qtnnq0qgbuu:~/app$ more config/database.yml                   `
`default: &default                                                  `
`  adapter: mysql2

[2016-08-22 16:29] RochesterinNYC commented on #62
Hi @David-Pivotal, we tried this out with a [rails 4 fixture app](https://github.com/cloudfoundry/ruby-buildpack/tree/pool-connection-15/cf_spec/fixtures/rails4_web_app) that uses mysql2 and a connection pool of 15. We were unable to reproduce your issue's behavior.

Our steps:
In local environment:
[code]

Inside SSH session:
[code]
In the rails console while inside the ssh session:
[code]

[2016-08-23 07:43] David-Pivotal commented on #62
Hi Rochester,

Thanks for your help. It is really helpful. I will check and get back to you soon.

[2016-08-24 02:37] David-Pivotal commented on #62
Hi Rochester,

I am able to set connection pool size to 15. Please feel free to close this issue.
Thank you for your help!

[2016-08-24 02:37] #62 closed

[2016-08-24 16:27] dmikusa-pivotal opened #63 "Build pack is installing the wrong version of Ruby."
CF v235.5.50

1.6.16 & 1.6.20

Deploy an application that works on 1.6.16 and fails on 1.6.20.

Build pack to pick the version set in Gemfile-APP

Build pack seems to pick the default value.

Attaching a test case.  Steps to reproduce:

1.) Target PWS or something with Ruby Build pack 1.6.20 or 21 deployed.
2.) Run `cf push`
3.) You should get a failure message like this.

[code]

Note: `Your Ruby

[2016-08-24 17:35] jchesterpivotal commented on #63
@dmikusa-pivotal we can't see the attached test case.

[2016-08-24 17:51] dmikusa-pivotal commented on #63
Sorry, trying again.

[ruby-sample.tar.gz](https://github.com/cloudfoundry/ruby-buildpack/files/435344/ruby-sample.tar.gz)

[2016-08-24 19:36] sesmith177 commented on #63
This has been resolved with 4801e61ecc19697e92aff86301b32a4d98f9f1b8 in develop. It will be released in 1.6.22, [which has been scheduled](https://www.pivotaltracker.com/story/show/128993999).

[2016-08-24 19:36] #63 closed

[2016-08-30 14:44] dmikusa-pivotal opened #64 "Build pack crashes during staging"
What version of Cloud Foundry are you using?

v240

What version of the buildpack you are using?

1.6.22

If you were attempting to accomplish a task, what was it you were attempting to do?

Stage an app that has a Gemfile that references a gemspec.

Ex:

[code]

What did you expect to happen?

App to stage successfully.

What was the actual behavior?

Fail.

[code]

To reproduce:

1.) Download at

[2016-08-30 18:47] RochesterinNYC commented on #64
We've investigated this issue and determined that it's caused by Bundler using a relative path of `./Gemfile` instead of the full path to the Gemfile in its internal DSL class. Interestingly enough, we fixed this via a PR to Bundler bundler/bundler#4585 but those changes are only in bundler `1.13.+`, which does not have a stable release out yet and is not in the ruby buildpack.

We've made a chang

[2016-09-06 15:40] jchesterpivotal commented on #64
The repair was released in [v1.6.23](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.23). Closing.

[2016-09-06 15:40] #64 closed

[2016-09-19 06:52] tyyko opened #66 "Outdated version of LibYAML in latest buildpack release"
The latest buildpack version  includes v0.1.6 of libyaml, but the latest version[1] is v0.1.7
The version 0.1.6 is also affected by a known vulnerability [2]

[1] http://pyyaml.org/wiki
[2] https://www.cvedetails.com/cve/CVE-2014-9130/

[2016-09-19 13:46] sesmith177 commented on #66
Hello @tyyko,

Thanks for the report. We will update the buildpack to use v0.1.7

[2016-09-19 14:01] flavorjones commented on #66
See related https://www.pivotaltracker.com/story/show/130641297 where we should be watching libyaml for new releases.

[2016-09-19 14:16] sclevine commented on #66
Race condition -- didn't realize you already made a story: https://www.pivotaltracker.com/story/show/130641431

[2016-09-19 17:42] sesmith177 commented on #66
We decided to remove libyaml from the buildpack in https://github.com/cloudfoundry/ruby-buildpack/commit/6a38bf786ac4eca3507970adada0fff58565c88d.

Instead, we use the system-provided libyaml library which has been [patched](http://changelogs.ubuntu.com/changelogs/pool/main/liby/libyaml/libyaml_0.1.4-3ubuntu3.1/changelog) against that CVE.

We expect to release a new version of the Ruby buildpack

[2016-09-19 17:42] #66 closed

[2016-09-21 18:17] jchesterpivotal commented on #66
Released in [v1.6.25](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.25).

[2016-09-23 18:44] schneems commented on #66
I looked at the patch, notice in one of the deleted lines there was some logic to clear out previously installed gems after we had to update the libyaml version. I did some digging, it came from https://github.com/heroku/heroku-buildpack-ruby/pull/224. I'm not quite sure how psych links to libyaml or under what conditions a cache purge is required.

[2016-09-23 18:55] flavorjones commented on #66
@schneems thanks for pointing this out. Everything we're shipping in the buildpack, and any gems that get built during staging, will all be dynamically linked against the rootfs's libyaml. So there shouldn't be any side effects to no longer purging the cache to force a recompile. An update to the underlying shared library should theoretically always be sufficient.

[2016-09-23 19:30] jchesterpivotal commented on #66
I'm a bit vague here. For CF we get a fresh container each time, though the buildpack *itself* is cached. Gems aren't cached.

But it might be a line Heroku need to retain on any servers where the FS is reused for multiple staging events, because the gems might be cached between staging events.

I'm not sufficiently familiar with Heroku's implementation to say either way.

[2016-10-14 20:03] farahfa opened #68 "jq in the buildpack"
Is there a way to support jq (kinda like the go-buildpack) in this ruby-buildpack? Because it'd be helpful to have it there so one could use the ruby-jq gem (which needs jq in order to compile).

[2016-10-14 20:09] sclevine commented on #68
jq 1.3 is provided by the cflinuxfs2 rootfs, is that sufficient?

[2016-10-14 20:42] farahfa commented on #68
Hmm, all our apps are installed on cflinuxfs2 derivatives.. I wonder why I still get that error.. Has this always been the case or was JQ added in a certain version of cflinuxfs2?

[2016-10-14 20:44] RochesterinNYC commented on #68
`jq` has been in the cflinuxfs2 rootfs since July 29th, 2015: https://github.com/cloudfoundry/stacks/commit/8770b5185656938c943ee9bb2a5892097d055264

[2016-10-17 15:42] sesmith177 commented on #68
Closing since jq is in the cflinuxfs2 rootfs

[2016-10-17 15:42] #68 closed

[2016-11-11 08:16] liuweichu opened #69 "Cannot compile ruby-oci8 gem"
What version of Cloud Foundry are you using?
v230

What version of the buildpack you are using?
1.6.28

If you were attempting to accomplish a task, what was it you were attempting to do?
Push an ruby app which uses "ruby-oci8" gem

What did you expect to happen?
Since the installation of `ruby-oci8` requires `LD_LIBRARY_PATH` and `PATH` pointing to Oracle Instance Client diretory.
I expect there

[2016-11-11 10:27] giner commented on #69
As a test I tried to put oracle libs to libs_native and apply the following change to the buildpack and it worked for me:
[code]

[2016-11-11 16:38] sclevine commented on #69
Environment variables specified in an application's `manifest.yml` file are exposed during staging (at least in CF v239, not sure about v230). You may be able to set `LD_LIBRARY_PATH` there.

[2016-11-14 00:25] CAFxX commented on #69
@sclevine is this behavior documented somewhere? I checked https://docs.cloudfoundry.org/devguide/deploy-apps/manifest.html#env-block but couldn't find any mention of this...

[2016-11-14 07:10] giner commented on #69
Thank you @sclevine. I can confirm, specifying variable in manifest helps (release v230).
At the same time it seems to be not mentioned anywhere in documentation as @CAFxX already said.

[2016-11-14 15:20] RochesterinNYC commented on #69
Thanks @CAFxX and @giner for bringing this to our attention. Submitted a PR to the docs to update it with a note about the manifest env vars being in the staging container environment as well: cloudfoundry/docs-dev-guide#137

[2016-11-14 15:23] #69 closed

[2016-11-17 03:58] jessehu opened #70 "'cf push rails app' reports an error occurred while installing json 1.6.6"
I'm trying to push rails sample app (https://github.com/pivotal-cf-experimental/rails_sample_app) onto Pivotal Web Service.

[code]
And got the following error :

[code]

[2016-11-22 19:04] sesmith177 commented on #70
Hello @jessehu,

It looks like the problem is the old version of the `json` gem (1.6.6) in Gemfile.lock. If you run `bundle update` before pushing the app, it should install a newer version (1.8.3) and the sample app should stage

[2016-11-23 01:05] jessehu commented on #70
Thanks @sesmith177 a lot. It resolves the problem. Maybe the Gemfile.lock in source code should be updated as well.

[2016-11-23 01:05] #70 closed

[2016-12-02 14:52] saliceti opened #71 "Error when pushing app from Windows"
What version of Cloud Foundry are you using?
245

What version of the buildpack you are using?
23d58c3

If you were attempting to accomplish a task, what was it you were attempting to do?
Push a ruby application from a Windows desktop. The problem occurs when the files have Windows line endings (CRLF). Especially Ruby files as it fails at first line `#!/usr/bin/env ruby`.

What did you expect to h

[2016-12-02 14:55] keymon commented on #71
This issue is specially tricky with Windows git clients with the `autocrlf=true` setting.

It is a common setting on windows workspaces.

The start fails with a cryptic error. IMO the buildpack should warn about the existence of CR-LF in the ruby files, so it would be easier to troubleshoot.

[2016-12-02 14:56] keymon commented on #71
/cc @scottcowan

[2016-12-02 18:54] jchesterpivotal commented on #71
Tricky one -- there are a lot of places we could perform such an inspection, with different problems.

Or rather, what makes it tricky is that Cloud Foundry can manage arbitrary OS containers. Linux is the dominant platform for most users, but it *is* possible and supported to drive Windows as well. So whatever mechanism gets adopted has to somehow map it from end to end. I'm personally vague on h

[2016-12-05 20:48] sclevine commented on #71
I've created a story about investigating whether it makes sense to warn users when Windows line endings are detected in interpreted code: https://www.pivotaltracker.com/story/show/135554115

I suspect that there isn't a generic way to do this in the `buildpackapplifecycle` that makes sense for all possible buildpacks.

[2016-12-06 10:50] saliceti commented on #71
Could it be done in a generic way based on the stack the app is deployed to?

[2016-12-12 17:38] sclevine commented on #71
Not sure what you mean. The [buildpackapplifecycle](https://github.com/cloudfoundry/buildpackapplifecycle) is currently a Linux-only binary.

My concerns are about the detection logic. How can we generically determine that Windows line endings are present in files in a way that would cause staging to fail? Do we scan the line endings of every text file in the app? Is that something we really want

[2016-12-12 17:47] keymon commented on #71
@sclevine it is complicated, indeed. But that is why I suggested the change in the ruby buildpack: you could check newlines in the .rb files.

I would not say that you fail, but you can print a warning message.

[2016-12-20 15:02] RochesterinNYC commented on #71
This sounds like something that might fit as a staging policy after multiple buildpack support in the platform.

Anything with scanning all text files for newlines (even if it's just in the ruby buildpack) can potentially add overhead for all users for the purpose of protecting against a very specific, uncommon issue.

[2017-01-06 15:04] sclevine commented on #71
I would be open to implementing this as a change in the ruby buildpack that looked at the line ending of the first line in the `Gemfile` and output a warning. Anyone disagree with this strategy?

[2017-01-06 16:46] keymon commented on #71
I think it is a good enough solution it would catch the most common cases.

[2017-01-10 18:22] sclevine commented on #71
Story awaiting prioritization: https://www.pivotaltracker.com/story/show/137369701

[2017-01-10 18:22] #71 closed

[2017-02-24 21:25] ljfranklin opened #72 "Intermittent `NameError: uninitialized constant Bundler::RubyGemsGemInstaller` during compilation"
## What version of the buildpack you are using?

Ruby buildpack - `Buildpack version 1.6.34`.

## If you were attempting to accomplish a task, what was it you were attempting to do?

The ruby buildpack intermittently fails to compile eventmachine with bundler. We've seen this a few times when running CATS, but very rarely. This might be a 1 in a 100 type error during app pushes.

## Error output

[2017-02-25 03:04] sclevine commented on #72
Hi @ljfranklin,

Are you running CATS on GCP? We believe this is a network-related issue with CF on GCP that should be addressed by determining and fixing the root cause, instead of covering it up with retry logic in the buildpack.

That said, [this commit](https://github.com/cloudfoundry/ruby-buildpack/commit/72f7a855c5843a3dccc32b605ad674d7dc2c243b) will go out in the next version of the buildpa

[2017-02-28 18:43] thausler786 commented on #72
@sclevine thanks, we'll wait for the next buildpack and let you know if that fixes it. As an added data point, we are seeing this on AWS, not GCP.

[2017-02-28 18:50] sclevine commented on #72
This was released in [v1.6.35](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.6.35).

[2017-02-28 21:03] phopper-pivotal opened #73 "Support for New Relic APM"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`? 1.9

What version of the buildpack you are using? current

If you were attempting to accomplish a task, what was it you were attempting to do? attempted to integrate New Relic APM via pivotal docs (https://docs.run.pivotal.io/marketplace/services/newrelic/#ruby) but was una

[2017-03-01 16:21] sclevine commented on #73
Thanks for the report! I prioritized the above story to address this.

[2017-03-14 15:03] shoudusse opened #74 "Error while accessing a ruby app with an extra "X-Forwarded-Proto" header"
Hello,

What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
CloudFoundry: cf/249
cf version 6.22.2+a95e24c-2016-10-27

What version of the buildpack you are using?
ruby_buildpack         2          true      false    ruby_buildpack-cached-v1.6.28.zip

If you were attempting to accomplish a task, what was it you were attempti

[2017-03-16 13:48] sclevine commented on #73
@phopper-pivotal We found that the instructions on that page are correct, but the sample app was out of date and confusing. The sample app was removed from that documentation.

[2017-03-16 13:48] #73 closed

[2017-03-16 14:02] bleach opened #75 "Buildpack fails trying to use ruby 2.3.0 when I wanted to use 2.3.3"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

CF v251

[code]

What version of the buildpack you are using?

1.6.32

[code]

If you were attempting to accomplish a task, what was it you were attempting to do?

Deploy https://github.com/cloudfoundry/docs-book-cloudfoundry on our own CF.

On my first push attempt I was

[2017-03-16 14:25] phopper-pivotal commented on #73
thanks sclevine. after sometime, and with debug enabled, I was able to grab the collector endpoint and view dashboard in NR.

of side note and not for this forum, was hoping the NR service broker to do this heavy lifting much like it does for Java.

[2017-03-16 14:32] sclevine commented on #75
Hi @bleach,

It appears that the Gemfile inside the `final_app` directory that is pushed still refers to Ruby 2.3.0. This is not an issue with the buildpack.

[2017-03-16 14:39] bleach commented on #75
@sclevine agreed, closing

[2017-03-16 14:39] #75 closed

[2017-03-16 15:43] sclevine commented on #74
I am unable to replicate this with v1.6.28. Can you provide a sample app that always demonstrates the behavior with `X-Forwarded-Proto: https`? I'm testing with:
[code]
vs.
[code]

[2017-03-16 17:42] shoudusse commented on #74
A very simple app was provide in my first comment (so small, you didn't noticed ;-)
Here it is:
[code]

If I use curl like you, I still have the problem:
[code]
vs

[code]

[2017-03-21 15:57] sclevine commented on #74
Okay, I'll assume that file is called `app.rb`, and that you have a `Gemfile` with only sinatra as a dependent gem, with ruby 2.3.1 explicitly specified. I'll also assume that you have a `Gemfile.lock`, and that you created it locally with ruby 2.3.1 and bundler 1.13.6. Furthermore, I'll assume you have a `config.ru` file with following contents:
[code]

I am still unable to replicate:
[code]
vs
[

[2017-03-23 09:51] shoudusse commented on #74
Sorry I did not gave you all this informations, but yes, all your assumptions are good.
For the context, I'm having this issue while running smoke tests errand over my cloudfoundry deployment.
The smoke tests are using a route via a ha-proxy in front of cloudfoundry and they failed.
I will try to find if I have an issue relative to my proxy chain and the "X-Forwarded-For" header.
Thanks for your h

[2017-03-23 13:54] sclevine commented on #74
Happy to help! Seems like your issue isn't buildpack related, so I'm going to close this for now.

[2017-03-23 13:54] #74 closed

[2017-03-30 15:33] thausler786 commented on #72
We just saw [another instance of this failure](https://capi.ci.cf-app.com/teams/main/pipelines/capi/jobs/deploy-and-test-postgres-webdave-bridge/builds/151) in our CI.  You may not have access to the pipeline, so I will recapitulate it here:

[code]

This was running against an AWS environment on cf-release b51b26469620d88c56b13d5e672f7a1b18c2cd64, which by following through to ruby-buildpack-rele

[2017-03-30 18:07] cf-buildpacks-eng commented on #72
It might be worth filing this against bundler itself. Would you like to do
that Tim (or I can)

On Thu, Mar 30, 2017 at 11:33 AM Tim Hausler <notifications@github.com>
wrote:

[2017-03-30 18:14] sclevine commented on #72
Are we sure this didn't just fail after 4 tries? If that's what happened, the only thing to report would be a confusing error message.

It seems very likely to me that the failure itself is a symptom of poor network connectivity on your AWS deployment, and not an issue with the buildpack or bundler.

[2017-04-03 14:59] dijonkitchen opened #77 "Make signing Contributing License Agreements easier"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
N/A

What version of the buildpack you are using?
N/A

If you were attempting to accomplish a task, what was it you were attempting to do?
Make a pull request (#76) and sign CLA.

What did you expect to happen?
Online form/verification akin to https://code.facebook.com/cla

[2017-04-04 14:00] sclevine commented on #77
Hi @dijonkitchen,

Thanks for the feedback! The Cloud Foundry Foundation is aware that the current CLA submission process could be more convenient. I will make sure your concern is noted.

I'm going to close this issue for now though, because it cannot be addressed by the team that maintains CF buildpacks.

[2017-04-04 14:00] #77 closed

[2017-04-07 13:20] shoudusse commented on #74
Finaly found the root cause of my issue.
It's a webrick issue associated with a miss configured proxy.
[ruby/webrick issue](https://github.com/ruby/ruby/pull/1386)
TL;DR;
The haproxy included in cf-release does not verify if "X-Forwarded-Proto" header already exists and appends its own value.
Webrick does not support a "X-Forwarded-Proto" header with 2 values
The haproxy configuration provided wit

[2017-04-14 15:18] sclevine opened #78 "NOTICE: Default version of Ruby will change to 2.4.x after 2017-05-14"
The default version of Ruby in the Ruby buildpack will change from the latest 2.3.x version (currently 2.3.4) to the latest 2.4.x version (currently 2.4.1) in the first release of the Ruby buildpack after May 14, 2017. If you would like to continue using Ruby 2.3.x, please specify that version line in your Gemfile. For more information, refer to the buildpack documentation: http://docs.cloudfoundr

[2017-05-11 14:07] hromadkom opened #79 ""Failed to download JVM" error while downloading OpenJDK for JRuby"
Hi,
I am having some trouble with deploying JRuby application on IBM Bluemix Cloud Foundry.

What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
`cf version 6.26.0+9c9a261fd.2017-04-06`

[code]

What version of the buildpack you are using?
I suppose it is latest version. I am using https://github.com/cloudfoundry/ruby-buildp

[2017-05-12 16:00] dgodd commented on #79
Unfortunately the version of openjdk which was published online was changed.

Going forward:
1. For new buildpacks we are copying it to our own bucket to ensure consitency.
2. We are seeing if the team which owns that file can re-upload it

I think if you use the latest version of the buildpack then your problem will be fixed

[2017-05-12 20:21] aleliaert opened #80 "Checksum mismatch for openjdk1.8-latest 1.8.0_131"
Seeing "Buildpack::Packager::CheckSumError: File: openjdk1.8-latest, version: 1.8.0_131 downloaded at location https://java-buildpack.cloudfoundry.org/openjdk/trusty/x86_64/openjdk-1.8.0_131.tar.gz
	is reporting a different checksum than the one specified in the manifest"

This is what I did:
[code]

More clues:
[code]

From manifest.yml:
[code]
Thanks!  Having a lot of fun learning Cloud Foundry!

[2017-05-12 23:40] sclevine commented on #80
Hi @aleliaert,

Sorry about that! The team maintaining the OpenJDK binaries rebuilt them by accident. We cut a new release with an updated checksum, moved the binary to our own bucket, and added part of the checksum to the filename so that this can't happen in the future.

[2017-05-12 23:40] #80 closed

[2017-05-13 00:43] sclevine commented on #79
Fixed in 1.6.39. See also: #80

[2017-05-13 00:43] #79 closed

[2017-05-15 21:08] aleliaert commented on #80
Thanks @sclevine, much appreciated.

[2017-05-22 15:41] sclevine commented on #78
Default version changed to 2.4.1 on `develop`. This will ship with the next release.

[2017-05-22 15:41] #78 closed

[2017-06-19 22:28] matt-royal commented on #72
FYI, we're still seeing this failure on our new(ish) GCP environments. We saw it twice today:

[code]

and

[code]

[2017-07-05 08:01] rauizab opened #83 "On CAT tests "NameError: uninitialized constant Bundler::RubyGemsGemInstaller""
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
[code]

What version of the buildpack you are using?
1.6.41

If you were attempting to accomplish a task, what was it you were attempting to do?
CAT tests running against our CF instance.

Please confirm where necessary:
* [ x] I have included a log output
* [ x] My log inc

[2017-07-05 08:04] rauizab commented on #83
Duplicate of https://github.com/cloudfoundry/ruby-buildpack/issues/72

[2017-07-09 17:30] sclevine commented on #83
We've investigated this error several times. One investigation was led by a core bundler contributor. It happens inconsistently, and appears to be related to network flakiness that results in a confusing error message due to bundler's use of autoload.

Can you demonstrate this behavior with an app that has vendored gems, or propose a change (either upstream or in the buildpack) that addresses this

[2017-07-10 07:37] rauizab commented on #83
I dont have the knowledge to propose an improvement. I was testing the CATS and I wanted to give feedback and have an explanation why it is so. We have just started using the CATS and we were not sure if the problem was on our side (CATS configuration) or it was due to another reason.
As it seems a connection issue I can close this ticket.

[2017-07-10 07:37] #83 closed

[2017-07-10 13:27] sclevine commented on #83
Regardless, thanks for the report! I'll update this issue if we are able to fix or work around the issue.

[2017-07-11 15:53] SocalNick commented on #72
We push this [simple ruby app with dependencies vendored](https://github.com/pivotal-cloudops/cf-sli/tree/master/assets/ruby_simple) every minute to a Cloud Foundry and see this failure intermittently:

[code]

[2017-07-11 16:51] dreeve opened #84 "Intermittent `Could not read gem` error"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

CF version 266
CF CLI version 6.24.0+c7a32d3.2017-02-10

What version of the buildpack you are using?
Buildpack version 1.6.42

If you were attempting to accomplish a task, what was it you were attempting to do?
Compiling the droplet.

What did you expect to happen?
The dr

[2017-07-11 16:57] sclevine commented on #72
@SocalNick Nice find! This rules out network flakiness when downloading the gem. This means that the error is likely a race condition inside Bundler that we should report upstream.

@dgodd ^^

[2017-07-11 23:03] dgodd commented on #72
@SocalNick @sclevine The problem is that I have never been able to repeat the problem outside of CATs. I have run large experiments. We could try running bundler for a day on GCP to see if we can repeat the problem. I think we are at the same point as before, there is a bug in bundler but we can't reproduce it outside CATs. I will try running a huge number of `bundle installs` on a GCP instance wi

[2017-07-12 14:18] sclevine commented on #84
Hi @dreeve,

Can you provide us with the app that you're pushing? Are you able to replicate this flake on PWS?

[2017-07-12 16:27] dreeve commented on #84
@sclevine Sure! This is CloudOps' SLI test, which pushes [this ruby app](https://github.com/pivotal-cloudops/cf-sli/tree/master/assets/ruby_simple) to PWS once per minute.

[2017-07-20 16:51] rainmaker commented on #72
In case it's helpful, PCF RelEng has been seeing these issues with ruby buildpack 1.6.44:

[code]

We have more logs, but will wait to post unless they would be useful. Let us know!

Raina and @joshzarrabi

[2017-07-20 17:13] dgodd commented on #72
I have reported this upstream to bundler

https://github.com/bundler/bundler/issues/5886

[2017-07-25 06:43] anEXPer commented on #72
@dgodd, have y'all been trying to reproduce the problem with bundler, or in the context of the the ruby buildpack?

[2017-07-25 10:08] dgodd commented on #72
I've been trying to reproduce in a docker container set up to be the same
as the ruby buildpack staging, just before running bundler. I want an
example that I can give to bundler for them to run. Interestingly it is
also not an error we personally ever see when running cats.

On Tue, Jul 25, 2017, 2:44 AM Jesse Thomas Alford <notifications@github.com>
wrote:

[2017-07-31 14:07] sclevine commented on #72
This flake was determined to be an upstream issue with ruby-core, due to a race condition with autoload. Future Ruby 2.3 and 2.4 versions should address this. See [this ruby-core bug](https://bugs.ruby-lang.org/issues/11384) for details.

For a workaround, see [this PR](https://github.com/pivotal-cloudops/cf-sli/pull/3).

In the future, please feel free to report issues with Ruby, Bundler, etc. up

[2017-07-31 14:07] #72 closed

[2017-07-31 14:12] sclevine commented on #84
This PR should address the failure: https://github.com/pivotal-cloudops/cf-sli/pull/3

[2017-07-31 14:12] #84 closed

[2017-08-04 09:01] yohfee opened #85 "Rails 5.0 webpacker:compile failed"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
cf version 6.29.0+ff886fa93.2017-07-24

What version of the buildpack you are using?
Buildpack version 1.6.46

If you were attempting to accomplish a task, what was it you were attempting to do?
`rails webpacker:compile`
ruby 2.4.1
rails 5.0.5
webpacker 2.0

What did you ex

[2017-08-07 13:52] sclevine commented on #85
We plan to support providing custom versions of Node.js via the Node.js buildpack when multiple buildpack support is complete. Currently, we only provide the active LTS version of Node.js that was available when the rails version line was first released.

If it's difficult to work around this before multiple buildpack support is available, we could introduce an environment variable to force specif

[2017-08-07 23:32] yohfee commented on #85
I see, thanks. I'll push the local compiled assets for now.

[2017-08-08 10:29] dgodd commented on #85
@sclevine I'm in favor of the environment variable plan

[2017-08-09 19:02] sclevine commented on #85
Given that multiple buildpack support is available in the latest CAPI release, I'd like to wait on this until we know if it's necessary. In the long term, we should deprecate the provided Node.js anyways.

[2017-09-20 15:28] xtremerui opened #86 "Bundler::GemfileNotFound with buildpack version 1.7.1"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
[code]
This is PWS env info.

What version of the buildpack you are using?
ruby-buildpack 1.7.1

If you were attempting to accomplish a task, what was it you were attempting to do?
We are trying to deploy one of our ruby app on PWS.

What did you expect to happen?
Deploymen

[2017-09-20 16:59] dgodd commented on #86
@xtremerui Are you able to provide extra info? For instance a paired down sample app which fails?

[2017-09-20 18:01] xtremerui commented on #86
@dgodd are posting Gemfile and Gemfile.lock here good enough? If not we can DM you the production app on Slack.

[2017-09-25 12:02] Showard180 opened #87 "Error when using v1.7.1 and v1.7.2"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
[code]
(I have taken some of the details out of this)

What version of the buildpack you are using?
1.7.2 but I'm experiencing the issue with any 1.7 version

If you were attempting to accomplish a task, what was it you were attempting to do?
Push my app using the new versi

[2017-09-25 17:16] idoru commented on #87
Hi @Showard180 thanks for submitting this issue. Does the app you're pushing contain a Procfile? If so, would you be able to share it?

[2017-09-25 18:44] sclevine commented on #86
Thanks for the report @xtremerui. We identified the issue and fixed it in 1.7.2.

[2017-09-25 18:44] #86 closed

[2017-09-25 18:46] sclevine commented on #87
Also, please provide any custom start command you may be setting via manifest.yml or via the `cf push` command.

If it's possible for you to put together a complete sample app that demonstrates the failure, it would be very helpful for us.

[2017-09-26 08:28] Showard180 commented on #87
Here's my `manifest.yml` file:
[code]

and here's my Procfile:
[code]

I will work on getting a sample app together today that demonstrates this issue

[2017-09-26 09:30] Showard180 commented on #87
I've created the a really simple sample app where I am also experiencing the issue.

https://github.com/Showard180/sample-jruby-app

[2017-10-06 13:04] Showard180 commented on #87
@sclevine @idoru Is there any update on the above?

[2017-10-06 21:15] dgodd commented on #87
@Showard180 I believe the rubygems version for jruby is controlled by the jruby version. We do not force a change of rubygems version on jruby see https://www.pivotaltracker.com/story/show/150884901

When I changed your sample app (above) to jruby 9k
`ruby '2.3.3', :engine => 'jruby', :engine_version => '9.1.13.0'`
I saw rubygems version `
vcap@1c9c882e-c5f5-4420-5f6c-9efb9ec4da09:~$ which gem
/ho

[2017-10-09 08:45] Showard180 commented on #87
I've switched to jruby `9.1.13.0` but I don't really know what you mean by the `profile.d` scripts? I've sshed into the machine and run both `/home/vcap/app/.cloudfoundry/0/profile.d/ruby.sh` and `/home/vcap/app/.cloudfoundry/0/profile.d/jruby.sh` but the ruby one errors with
[code]

Any ideas what I'm missing here?

[2017-10-10 14:57] dgodd commented on #87
@Showard180 You need to run the profile.d scripts inside the app directory. So directly after ssh-ing in.
[code]

There is a story in the backlog to make it easier to get the apps ENV setup upon cf ssh
https://www.pivotaltracker.com/story/show/146900873

[2017-10-10 15:48] Showard180 commented on #87
Thanks for all the help @dgodd, however, I'm still having issues. I'm pretty sure I'm following your instructions correctly but I'm still having the same issue. Here's what I'm doing:

[code]

[2017-10-10 20:51] dgodd commented on #87
@Showard180 Sorry I should have guessed you would not have the same CF version as I do. You will note that $PWD/deps does not exist, the following should work (I am doing this from memory)

[code]

[2017-10-11 08:22] Showard180 commented on #87
Yep, thanks @dgodd that worked perfectly! Should I close this issue now as I'm pretty sure it's working as expected?

[2017-10-11 12:00] dgodd commented on #87
I'm glad it all worked for you @Showard180 . I'll close this issue as you suggested

[2017-10-11 12:00] #87 closed

[2017-10-20 15:57] ljfranklin opened #88 "Intermittent errors downloading Ruby from buildpack bucket"
Several times a week we see a failure like the one below when running CATs:

[code]

We are unaware of any networking issues in this environment. The deployment is on GCP.

Versions:
CAPI-release 1.44.0, Ruby Buildpack 1.7.3

[2017-10-23 14:53] sclevine commented on #88
Hi @ljfranklin,

We're hesitant to retry requests during staging because:
1. We have limited ability to retry requests. We can't control the retry logic in all of the language tools we run during staging that may reach out to the internet.
2. Production foundations use offline buildpacks. Offline buildpack don't make any outbound requests that we can control directly.
3. We may cover up real under

[2017-10-23 15:20] ljfranklin commented on #88
@sclevine thanks, sounds reasonable. I'll keep an eye on how many times we see this error over time and report back. If the failures become too frequent we can investigate using an offline ruby buildpack.

[2017-10-30 06:05] jainankita90 commented on #85
Looking forward this enhancement

[2017-10-30 20:15] sclevine commented on #85
This should work now! The Ruby buildpack will use whatever version of Node.js is supplied by the Node.js buildpack. Just specify the Node.js buildpack before the Ruby buildpack when you push with the `cf v3-push` command.

I'm closing this issue as resolved, but let me know if you run into trouble.

[2017-10-30 20:15] #85 closed

[2017-11-06 22:52] sclevine opened #89 "NOTICE: Removal of Ruby 2.1 (MRI) after 2017-12-06"
The first release of the Ruby buildpack after December 6, 2017 will not include any versions of (MRI) Ruby starting with 2.1.x version numbers. Upstream support for Ruby 2.1 ended on 2017-04-01[1]. This change is therefore overdue.

[1] https://www.ruby-lang.org/en/news/2017/04/01/support-of-ruby-2-1-has-ended/

[2017-11-10 21:55] lsarni commented on #87
I was using @dgodd solution just fine but now after having push my app once more it stopped working. This is my manifest:
[code]

And if I run [this commands](https://github.com/cloudfoundry/ruby-buildpack/issues/87#issuecomment-335603817) on `cf ssh envios-ya-ort` I get:
[code]

[2017-11-13 16:10] dgodd commented on #87
@lsarni Have you recently updated CF? It looks like the profile.d scripts are no longer in that location. If you have a directory `/home/vcap/profile.d` you can use that instead. eg.
[code]

[2017-11-14 17:54] lsarni commented on #87
@dgodd I'm working on Bluemix, I didn't find out if CF has been recently updated but this commands didn't work either. I don't have a `/home/vcap/profile.d` directory.
[code]

[2017-11-16 13:17] dgodd commented on #87
@lsarni You should have these files somewhere inside your app or the parent directory. You may have to use `find` to find them.

eg. `find . -name '*ruby.sh'`

[2017-12-31 03:28] noctivityinc opened #90 "Support for ruby 2.5.0"
The latest stable version of Ruby is 2.5.0.  Version 2.4.2, the latest ruby version for the buildpack, is not even considered stable anymore.

[2017-12-31 03:51] sclevine commented on #90
The next release will include both 2.5.0 and 2.4.3, and should be available next week.
Please follow: https://www.pivotaltracker.com/story/show/153731127

[2017-12-31 03:51] #90 closed

[2018-02-08 04:45] pcsgithubid commented on #69
I have added the ```  LD_LIBRARY_PATH: /home/vcap/app/ld_library_path``` to manifest file, but still the ruby oci8 gem fails. Please assist me.

[2018-02-08 04:46] pcsgithubid commented on #69
i have added all libs to ```app/ld_library_path``` in the code base.

[2018-02-08 14:38] n-gottam commented on #69
@pcsgithubid Did that work for you? I am looking for the same. Please let me know. Thanks.

[2018-02-08 15:13] n-gottam commented on #69
@liuweichu Could you please share what you ended up doing to resolve this?

[2018-02-08 15:15] pcsgithubid commented on #69
@liuweichu Still working on this issue

[2018-02-08 15:39] dgodd commented on #69
@pcsgithubid @n-gottam  If you could open a new issue and provide a sample app which fails, we can look into this for you

[2018-02-16 11:10] jimmykarily opened #91 "Disk quota for BRATs"
The [disk quota for BRATs is set to 256M](https://github.com/cloudfoundry/ruby-buildpack/blob/master/src/ruby/brats/brats_suite_test.go#L24) which is less than needed for our buildpack.
This causes the pushing of the test app to fail with errors like this:

[code]

Would you accept a PR that makes it configurable through env vars or some yaml file (also for [the integration suite](https://github.c

[2018-02-16 13:01] dgodd commented on #91
I would accept something along those lines. Note however that the ruby buildpack includes jruby and those tests need a lot more disk and memory, so if you could take that into account.

[2018-02-16 13:14] jimmykarily commented on #91
Yes, jruby is the one that fails. It is happy with 300M (for the time being). We will prepare a PR soon. Stay tuned.

[2018-02-16 13:59] dgodd commented on #91
I'm OK if you just bump the size of the disks for the jruby integration tests. If you think a default and env variable is better I'm OK with that, and if you would like to just bump the size of those tests specifically I am also OK with that

[2018-02-16 13:59] #91 closed

[2018-02-21 01:12] yusukesasamo opened #93 "Over v1.7.0 can't find rake-12.0.0"
I couldn't solve this issue. I would appreciate if you could help me:cry:

What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
cf version 6.31.0+b35df905d.2017-09-15

What version of the buildpack you are using?
Over v1.7.0

If you were attempting to accomplish a task, what was it you were attempting to do?
When I build new

[2018-02-21 12:35] dgodd commented on #93
@yusukesasamo Could you please try the latest version of the buildpack (v1.7.13), I believe this problem has been fixed

[2018-02-22 00:48] yusukesasamo commented on #93
@dgodd I've tried to use latest version of the build back (v1.7.13) but it seems this issue is not fixed.:cry:

[2018-02-22 03:07] sclevine commented on #93
@yusukesasamo can you provide all of the staging output, as well as a sample app that fails?

[2018-02-22 05:57] yusukesasamo commented on #93
This is output
[code]

Sorry I can't provide my app because this app is internal tool for my company, but I can provide Gemfile the following.

[code]

Does it make sense??

[2018-02-22 13:28] dgodd commented on #93
@yusukesasamo I attempted to see the error you discussed by copying that Gemfile into an app, but hit other snags. If you can create an app which you can share which exhibits the problem then we should be able to fix it for you.

[2018-02-23 03:53] yusukesasamo commented on #93
@dgodd I made sample app.
https://github.com/yusukesasamo/rails-sample/tree/master/test-app
This app also has same issue the following.
[code]

[2018-02-23 13:01] dgodd commented on #93
Thanks @yusukesasamo, I'm looking ingto the problem right now

[2018-02-23 13:07] dgodd commented on #93
@yusukesasamo I just pushed that sample app using both the built version of the buildpack
[code]
and the master branch on github
[code]
and both worked without any problems.

Are there any extra setup steps that I should be running?

[2018-02-27 03:33] yusukesasamo commented on #93
@dgodd  Thank you for your confirmation. umm...... Now I'm checking why this difference happen...

[2018-03-08 14:56] SpamhaterAlex opened #94 "App fails to start"
Hi everybody,

I have problems to start an application with cf.
The application is ready and I created a war file.

After that,
I made an manifest.yml file, which looks like this:

[code]

then I wrote this command in cmd:

`cf push -f manifest.yml `

Then I get a problem, that I can not start this application:

[code]

After that, I tip the following command:

`cf logs first_usecase --recent `

A

[2018-03-08 15:05] idoru commented on #94
Hi @SpamhaterAlex

It looks like this is a java app and is using the java buildpack, so you may get more assistance over here: https://github.com/cloudfoundry/java-buildpack

Generally speaking, the `Exit status 148` is coming from Tomcat exiting abnormally due to the error reported earlier (no listener started successfully). Hope you manage to solve your issue!

[2018-03-08 15:05] #94 closed

[2018-03-12 17:25] #89 closed

[2018-03-13 03:58] giner opened #95 "Issues with LD_LIBRARY_PATH"
What version of the buildpack you are using?
- v1.7.15

[Documentation](https://docs.cloudfoundry.org/buildpacks/ruby/ruby-tips.html) says:

However it doesn't say that the buildpack adds the path **only** during **staging** and we have to set LD_LIBRARY_PATH=ld_library_path to start the application successfully.

Also, alternatively the following approach can be used in case of custom directory n

[2018-03-13 04:04] CAFxX commented on #95
This is related to #69, where we are now having the same issue again (`bundle install` fails when compiling the `ruby-oci8` gem).

Briefly discussed over slack: https://cloudfoundry.slack.com/archives/C02HWMDUQ/p1520910979000129

[2018-03-13 04:39] giner commented on #69
@pcsgithubid, the following should work:
`LD_LIBRARY_PATH: ld_library_path`
or
`LD_LIBRARY_PATH: mylib:/tmp/app/mylib`

[2018-03-17 16:19] vlaskovic opened #96 "pcf dev v29 [ruby buildpack][community exercises]"
Team,

I have using the following PCD DEV environment for training purposes:
cf-cli-installer_6.35.0_winx64
pcfdev-v0.29.0_PCF1.11.0-windows

Of the CF Basics of the Community exercises (http://basics-workshop.cloudfoundry.org/labs/debugging/
), I have failed to solve debugging exercise due to the following error(s):

1. cf push debug-app
- without explicitly pointing out a build pack:
  DEPENDENC

[2018-03-29 18:53] sclevine commented on #93
Closing due to inactivity. Let us know if this is still an issue.

[2018-03-29 18:53] #93 closed

[2018-04-02 18:58] tylerphelan commented on #88
Closing this due to inactivity

[2018-04-06 01:33] yusukesasamo commented on #93
@sclevine
I could reproduce this issue, if we execute `bundle install` after that `.bundle` directory will be made.
So if we have this directly `cf push` fail when we use Over v1.7.0.
I could avoid this issue to add this directory name to `.cfignore` file.
Sorry I think I shouldn't post to this kind of closed ticket, but  I'd like to share this situation just in case.

Regards,

[2018-04-09 18:55] astrieanna commented on #96
Hi @vlaskovic,

To use `ruby-2.2.8`, you will need to push with a more recent buildpack, since the system buildpack version you're using doesn't support `2.2.8`.

You had the url almost correct; the only change is the version number. The url needs the buildpack version number, not the ruby version. This will push with the current ruby buildpack:
[code]

If you had wanted to change you app to be co

[2018-04-09 18:56] #96 closed

[2018-04-10 05:46] anton-ego-ge opened #97 "No start command specified by buildpack or via Procfile"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

{
   "name": "",
   "build": "",
   "support": "https://support.run.pivotal.io",
   "version": 0,
   "description": "Cloud Foundry sponsored by Pivotal",
   "authorization_endpoint": "https://login.run.pivotal.io",
   "token_endpoint": "https://uaa.run.pivotal.io",
   "min

[2018-04-13 01:04] sclevine commented on #97
It appears that the buildpack is failing to set a start command. Are you able to provide a sample app that reproduces this failure? Did this app fail with a previous version of the buildpack? Do you happen to have a file called `tmp` at the root of your app?

[2018-04-19 07:34] anton-ego-ge commented on #97
Here is a source code I'm pushing. I haven't tried it with previous version of buildpack. There is no any tmp file just tmp folder there.
[DonationWeb.zip](https://github.com/cloudfoundry/ruby-buildpack/files/1927059/DonationWeb.zip)

[2018-04-30 18:13] tylerphelan commented on #97
@anton-ego-ge the ruby buildpack currently supports default start commands for [Rails and Rack](https://github.com/cloudfoundry/ruby-buildpack/blob/d05f5f384fc999d46cfab60d8792488b8127f4d7/src/ruby/finalize/release.go#L13). Since neither gems are specified in the Gemfile, you will need to create your own [Procfile](https://docs.cloudfoundry.org/buildpacks/prod-server.html#procfile).

[2018-04-30 18:15] #97 closed

[2018-05-01 17:18] roberts1000 opened #98 "Include Ruby 2.4.4"
Is there a plan to include Ruby 2.4.4 in a new buildpack?  I did a quick search and didn't see any info in Pivotal Tracker about it.

[2018-05-04 19:46] pivotalgeorge opened #99 "We see "Removing `Gemfile.lock` because it was generated on Windows."
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

[code]

What version of the buildpack you are using?
1.7.11 and 1.7.15

If you were attempting to accomplish a task, what was it you were attempting to do?
What did you expect to happen?
What was the actual behavior?

we have a ruby application that runs on both windows (d

[2018-05-04 19:47] pivotalgeorge opened #100 "buildpack doesn't use a Windows/Linux crossplatform Gemfile.lock"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

[code]

What version of the buildpack you are using?
1.7.11 and 1.7.15

If you were attempting to accomplish a task, what was it you were attempting to do?
What did you expect to happen?
What was the actual behavior?

we have a ruby application that runs on both windows (d

[2018-05-04 20:28] roberts1000 commented on #98
Thank You!

[2018-05-07 15:19] ssisil opened #101 "NOTICE : [ruby-buildpack] End of Node.js 4.x support after 2018-06-07"
Support for Node.js 4.x will be removed in the first release of the Ruby buildpack after 2018-06-07.

The Node.js Release Working Group ended support for Node.js 4.x on 2018-04-30 [1][2]. We are giving users a 30 day notice before support for Node.js 4.x is officially removed from the Ruby buildpack.  We recommend migrating any applications using release 4.x to LTS release 6.x.

[1] [https://githu

[2018-05-09 16:26] tylerphelan commented on #100
@pivotalgeorge Is this a repeat of https://github.com/cloudfoundry/ruby-buildpack/issues/99? If so, I'll close this one and we'll use the other.

[2018-05-09 16:27] #100 closed

[2018-05-28 08:38] stoprocent opened #103 "Bluemix crashing on start - "string contains null byte (ArgumentError)""
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

**cf version 6.34.1+bbdf81482.2018-01-17**

What version of the buildpack you are using?

**Ruby Sinatra**

If you were attempting to accomplish a task, what was it you were attempting to do?

**Restart a Bluemix app instance**

What did you expect to happen?

**Bluemix ap

[2018-05-29 22:56] sclevine commented on #103
Hi @stoprocent,

The version of the buildpack you are using is no longer supported and likely provides outdated and insecure dependencies. Can you upgrade to 1.7.18? Also, the warning seems to indicate that the Gemfile contains Windows line endings. Can you re-push the app with Unix line endings only?

[2018-05-29 23:00] sclevine commented on #99
(We haven't forgotten about this issue -- we're just busy with other priorities. We would accept a PR if this needs to be fixed in the near future.)

[2018-06-01 13:44] theozaurus commented on #99
We're a big enterprise customer using PCF where development is primarily on Windows machines. We're also this experiencing this issue and will raise a request with GSS.

[2018-06-01 14:38] sclevine commented on #99
Thanks for the report @theozaurus!

(With my Pivotal PM hat on:)
Just prioritized this bug here: https://www.pivotaltracker.com/story/show/157325297
Please link to this issue in the support ticket to expedite communication.

Apologies for the trouble!

[2018-06-01 15:53] pivotal-robert-mcmillion commented on #99
Hi @sclevine and @theozaurus,

The Pivotal Support ticket is here: https://discuss.zendesk.com/agent/tickets/84689

[2018-06-01 20:54] theozaurus commented on #99
Great. Thanks. I've added that information to the ticket.

[2018-06-08 08:00] stoprocent commented on #103
Hi

Issue is now fixed. It was a mix of outdated tool and small typo.

Thanks

M

[2018-06-08 08:00] #103 closed

[2018-06-22 02:40] sclevine commented on #99
@theozaurus This should be working in the latest release. Apologies for the long turn-around. Let us know if this addresses your issue.

[2018-06-22 07:07] theozaurus commented on #99
Thanks @sclevine

[2018-06-22 21:49] briannarelucio opened #104 "Failed to compile droplet rails app status 223"
Hello! Im trying to push a rails app and I keep getting this error, any advice on how to fix this?

`Waiting for API to complete processing files...

Staging app and tracing logs...
   Downloading dotnet_core_buildpack...
   Downloading nodejs_buildpack...
   Downloading java_buildpack_large_heap...
   Downloading staticfile_buildpack...
   Downloading go_buildpack...
   Downloaded nodejs_buildpac

[2018-06-22 22:17] sclevine commented on #104
Can you try with the latest buildpack version? The version you’re using doesn’t have yarn (which may be the issue here), and also only supplies old versions of ruby that are likely vulnerable to many known CVEs.

[2018-06-26 17:24] ishustava commented on #88
Hey @sclevine,

We've been seeing intermittent failures during staging, as well. Frequently, it's the same error as described in the issue, but it always happens when trying to download a tarball from buildpacks.cloudfoundry.org.

This is the error we saw today:
[code]
It would be really great if online buildpacks were more resilient to network errors when downloading stuff from the buildpacks buc

[2018-07-25 17:28] innov8d opened #105 "/src/ruby/supply/supply.go captures all output from rake secret instead of the last line."
**What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?**

min_cli_version: "6.23.0"
min_recommended_cli_version: "6.23.0"
api_version": "2.98.0"
cf version 6.26.0+9c9a261fd.2017-04-06

**What version of the buildpack you are using?**

https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.7.18

**If you were attemptin

[2018-08-07 12:32] jimmykarily opened #106 "BRATs expectations shouldn't have the stack hardcoded"
We are trying to run the BRATs against our buildpack (e.g. on this branch: https://github.com/SUSE/cf-ruby-buildpack/tree/1.7.22) but [there is a recent change](https://github.com/cloudfoundry/ruby-buildpack/commit/850a60248d80c8c2d09f6fbf74d3936245e58eec#diff-63850e55f390a72f3bf4f5bee0a4d05bR18) that hardcodes the stack name in the expectation. We could change our dependency names to match upstre

[2018-08-07 12:45] jimmykarily commented on #106
`cflinuxfs` in the regexp is an optional match (has a ? after it). The reason it didn't match in our case was because of a `-` which we add in the filename. Closing this issue, another will be created if needed.

[2018-08-07 12:45] #106 closed

[2018-08-07 15:50] astrieanna commented on #105
@innov8d 👍

[2018-08-15 14:17] astrieanna commented on #104
@briannarelucio Did you try this with the latest buildpack version?

[2018-08-31 19:26] tylerphelan commented on #88
@ishustava We are still hesitant to add retry logic to buildpack downloads for the reasons Stephen laid out above. We feel that one of the biggest reasons not to is that download retries may hide existing network issues in a foundation. We almost never see this error in our buildpack tests which use pretty standard cf-deployment environments.

Offline buildpacks are supported and might be one way

[2018-08-31 19:27] tylerphelan commented on #88
Whoops! I didn't mean to close this.

[2018-09-06 14:25] #105 closed, assigned to nobody

[2018-09-10 14:00] jfeeny commented on #104
@briannarelucio We're going to go ahead and close this issue for now, but feel free to reopen it if you have more questions.

[2018-09-10 14:00] #104 closed

[2018-10-03 17:12] zrob opened #107 "Remove non-web default processes"
CF is moving closer to providing Procfile support by default.

The non-web processes that this buildpack provide -- `console` and `rake` -- do not make sense in a CF context.

I think we should remove them in the CF version of this buildpack.

Would like to get your thoughts and offer to submit a PR if that would help.

thanks!

[2018-10-10 15:31] thewoolleyman opened #108 "need to have dummy Gemfile.lock even if BUNDLE_GEMFILE is set"
**What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?**

[code]

**What version of the buildpack you are using?**

Master branch has this issue

**If you were attempting to accomplish a task, what was it you were attempting to do?**

We want to run rails in "dual mode", where we can run both our current major release (e.g. 4

[2018-10-15 19:17] sclevine commented on #108
Agree, we should also respect this env var for detection if we aren't already.

[2018-10-31 15:43] Zanadar commented on #108
Hey @thewoolleyman,
We've pushed some changes to develop which should address this issue, so you should be good to use the latest commit on develop (https://github.com/cloudfoundry/ruby-buildpack/commit/132b5ab7835fdda4f7d02e515c0eba81ee522076) or you can just wait for our next release.
Let me know if there are any further issues.

[2018-10-31 15:44] Zanadar commented on #108
Fixed as of https://github.com/cloudfoundry/ruby-buildpack/commit/132b5ab7835fdda4f7d02e515c0eba81ee522076
Closing.

[2018-10-31 15:44] #108 closed

[2018-10-31 20:44] Zanadar commented on #107
Thanks for the issue @zrob . We agree!  Removed these non-web defaults with https://github.com/cloudfoundry/ruby-buildpack/commit/28d4a06a3651b9e43d664ae4c0f9f8dc7c73b8b6 on develop.

[2018-10-31 20:44] Zanadar commented on #107
Closing as fixed.

[2018-10-31 20:44] #107 closed

[2018-11-01 02:20] thewoolleyman commented on #108
Thanks for the quick fix!  We will try it out and let you know if we have any issues.

[2019-01-24 22:04] tylerphelan commented on #88
Closing this due to inactivity

[2019-01-24 22:04] #88 closed

[2019-03-18 15:49] seadowg opened #109 "Support Ruby 2.6.2"
Ruby 2.6.2 released a few days ago. Great to get support added in the buildpack!

[2019-03-18 18:18] shanks3012 commented on #109
@seadowg

The next release of the Ruby buildpack will include 2.6.2. If you would like to use it now, it exists on the develop branch!

Thanks!

Elliott Shanks
CF Buildpacks PM

[2019-03-18 23:08] seadowg commented on #109
Amazing thanks 👍

[2019-03-20 12:45] crstamps2 opened #110 "mysql2 0.5.2 gem will not install"
What version of Cloud Foundry and CF CLI are you using?
[code]

What version of the buildpack you are using?
`ruby_buildpack-cached-cflinuxfs2-v1.7.33+1550682985.zip`

If you were attempting to accomplish a task, what was it you were attempting to do?
Trying to push an app that has version `0.5.2` of the `mysql2` gem as the DB adapter.

You get the following error:

[code]

What did you expect to

[2019-03-22 20:23] dfreilich commented on #110
Hi @crstamps2 - Can we get a sample app to reproduce the issue? I tried reproducing the issue (our `ruby_2.2_bundler_2` fixture uses `mysql2 0.5.2`), and successfully built the app with no issues.

[2019-03-29 16:15] #101 closed

[2019-03-29 16:16] #99 closed

[2019-03-29 16:16] #109 closed

[2019-03-29 16:50] shanks3012 opened #111 "NOTICE: [ruby-buildpack] End of support for Node.js versions 6.x after 2019-04-28"
The default version of Node.js in the Ruby buildpack will change from the latest 6.x version to the latest 10.x version in the first release of the Ruby buildpack after April 28, 2019. Due to the end of upstream support for Node.js 6.x in April, all buildpack users should ensure that their Ruby apps run on a minimum buildpack supported version of Node.js 10.x or later.

For more information about

[2019-04-04 18:11] tylerphelan commented on #110
@crstamps2 closing this one out since we can't reproduce and we have a passing test that is using this gem. If you're seeing issues with PAS, opening a Pivotal support ticket is a way to get quicker responses.

[2019-04-04 18:11] #110 closed

[2019-04-11 20:14] shanks3012 opened #112 "NOTICE: [ruby-buildpack] End of support for Ruby versions 2.2.x and 2.3.x after May 11, 2019"
The first release of the Ruby buildpack after May 11, 2019 will no longer include any versions of Ruby 2.2.x and 2.3.x. These Ruby versions are no longer supported upstream [1]. Please migrate your Ruby apps to supported versions of Ruby before that time.

Note: Unless you are manually specifying a version of Ruby for the buildpack to use, or you have customized your Ruby buildpack, no action is r

[2019-04-22 22:55] drnic opened #113 "ruby 2.6.3 came out 4/17 but its not in manifest.yml"
https://www.ruby-lang.org/en/news/2019/04/17/ruby-2-6-3-released/

[2019-04-22 23:02] drnic commented on #113
Looks like CI failing https://buildpacks.ci.cf-app.com/teams/main/pipelines/dependency-builds/jobs/create-ruby-2.6.X-story/builds/6

[2019-04-22 23:03] drnic commented on #113
Perhaps add slack notification if errors in pipeline bumping security fixes to buildpacks?

[2019-04-26 13:55] kardolus commented on #113
@drnic thanks for pointing this out. We had a race condition in our CI. Fixed. Ruby version was added in this commit: https://github.com/cloudfoundry/ruby-buildpack/commit/fca8745a185fc09760cf848f91b72c128a1ec661

[2019-04-26 13:55] #113 closed

[2019-04-30 16:03] shanks3012 opened #114 "IMPORTANT NOTICE: [ruby-buildpack] End of support for cflinuxfs2 on all new dependency version lines"
This notice is regarding the end of support for cflinuxfs2 and how it affects all buildpacks and dependencies contained within them.

cflinuxfs2 (based on Ubuntu 14.04) is no longer receiving security updates due to the end of upstream support. As we desire to ensure that buildpacks are always shipped with the latest security patch updates, all new dependency version lines within buildpacks will o

[2019-06-06 05:20] xinyi1989 opened #115 "Could not find json-1.8.6 in any of the sources"
I have a problem when i push the redmine app.
[Could not find json-1.8.6 in any of the sources] error happend.
could you help me to solve this problem?
![image](https://user-images.githubusercontent.com/22472112/59008556-66d3bf80-885d-11e9-8bc5-0b08280d6c77.png)

- [ ]

[2019-06-07 18:40] kardolus commented on #112
Note that rails3 will no longer work after we make this change. Rails3 requires <= ruby 2.3

[2019-06-13 01:59] #115 closed

[2019-06-13 02:00] xinyi1989 commented on #115
I change the BUNDLE_PATH, and it work.

[2019-06-14 19:14] shanks3012 opened #116 "IMPORTANT NOTICE: End of support for cflinuxfs2 buildpacks after 2019-08-31"
This notice is regarding the end of support for cflinuxfs2 buildpacks after 2019-08-31. As previously mentioned, Ubuntu has ended support for 14.04, and with that, support for cflinuxfs2 has also ended. Due to the need to migrate all applications from cflinuxfs2 to cflinuxfs3, we have continued to release cflinuxfs2 buildpacks while those migrations came to a conclusion. After August 31, 2019, all

[2019-09-20 16:28] frshlns opened #117 "version `OPENSSL_1_1_1' not found"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

  {

   "name": "IBM Cloud",
   "build": "6.8.0",
   "support": "http://ibm.biz/bluemix-supportinfo",
   "version": 0,
   "description": "IBM Bluemix",
   .....
  }

  cf version 6.46.1+4934877ec.2019-08-23`

  stack:  cflinuxfs3

What version of the buildpack you are usin

[2019-09-25 17:59] dfreilich commented on #117
Hey @frshlns , thanks for the feedback. Could we get a sample app, so we can try and reproduce the error?

[2019-10-01 20:24] #116 closed

[2019-10-02 17:03] roberts1000 commented on #117
We've hit the same issue while trying to upgrade from buildpack 1.7.43 to 1.8.0.

[code]

[2019-10-02 17:05] roberts1000 commented on #117
We've hit the same issue while trying to upgrade from 1.7.43 to 1.8.0

[code]

[2019-10-22 23:33] nickjameswebb commented on #117
We were able to reproduce this by pushing https://github.com/cloudfoundry/cf-acceptance-tests/tree/master/assets/dora with Ruby version `2.5.7` (i.e. adding `ruby '2.5.7'` to the top of the Gemfile). We are on ruby buildpack `1.8.1` and cf version `6.47.1+0921a21b7.2019-10-18`, as well as CAPI https://github.com/cloudfoundry/capi-release/releases/tag/1.74.0 (not sure if that's relevant).

[2019-10-23 21:43] roberts1000 commented on #117
We hit this issue in our environment. We were able to solve it by upgrading cloud foundry to the latest point release.  We didn't connect all the dots, but we think newer versions of cloud foundry expose a newer version of the cflinuxfs3 stack, which, in turn, provide the correct version of openssl to the buildpack.

[2019-10-23 23:29] Zanadar commented on #117
@roberts1000 Can you give me the version of cf that allowed you to get past this bug?

[2019-10-24 00:16] Zanadar commented on #117
The culprit here is that there was a regression in canonical's abi compatibility for openssl and we had to build our ruby binaries against an older version for a while.
TL;DR is that this is one of those rare cases where the buildpack needs to be run against a newer release of cflinuxfs3 as @roberts1000 discovered. Basically my recommendation is to use a newer version of CF with a relatively recen

[2019-10-24 00:16] #117 closed

[2019-10-24 00:17] #95 closed

[2019-10-24 00:17] #111 closed

[2019-10-24 00:17] #112 closed

[2019-10-24 00:17] #114 closed

[2019-12-12 19:02] tulaseerao opened #118 "[ruby-buildpack] Support for Ruby 2.4.9"
What version of the buildpack you are using?
v1.8.4

We are using ruby 2.4.9 (rails 4+) for our apps running on IBM cloud and thinking of migrating to rails 5/ruby 2.5.6 after couple of months.  We need sometime to rewrite some rails/ruby libraries and just wondering about actual end support for ruby 2.4.9.

Please see let me know actual end support for 2.4.9 and we will plan accordingly from our

[2019-12-26 21:44] drnic opened #119 "🎄 ruby 2.7.0 released"
:christmas_tree: Another Christmas Day means a new major ruby release.

https://www.ruby-lang.org/en/news/2019/12/25/ruby-2-7-0-released/

[2020-01-03 18:24] vanhob opened #120 "Could not find rake-13.0.1 in any of the sources (Bundler::GemNotFound)"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?

`{
   "name": "",
   "build": "",
   "support": "https://support.run.pivotal.io",
   "version": 0,
   "description": "Cloud Foundry sponsored by Pivotal",
   "authorization_endpoint": "https://login.run.pivotal.io",
   "token_endpoint": "https://uaa.run.pivotal.io",
   "mi

[2020-01-03 19:56] vanhob commented on #120
hi,
when i rebuilt the gem set with bundler 1.17.3 i was able to push succesfully.   I noticed the following in the log file:

**with gemfile.lock created with bundler 2.1.2, you notice the [DEPRECATED MESSAGES] and ultimately the push fails**

`-----> Installing dependencies using bundler 2.1.2
Running: bundle install --without development:test --jobs=4 --retry=4 --path /tmp/contents480829056/dep

[2020-01-16 18:00] javaHelper commented on #104
I am getting the error:

[code]

[2020-01-24 22:56] ShadSterling commented on #120
I'm seeing what looks like the same problem with ruby-buildpack 1.8.7 and bundler 2.1.4.  @vanhob's workaround also works for me.

[2020-01-25 08:26] vanhob commented on #120
Here is the output you requested:

cf curl /v2/info && cf version

{
   "name": "",
   "build": "",
   "support": "https://support.run.pivotal.io",
   "version": 0,
   "description": "Cloud Foundry sponsored by Pivotal",
   "authorization_endpoint": "https://login.run.pivotal.io",
   "token_endpoint": "https://uaa.run.pivotal.io",
   "min_cli_version": "6.22.0",
   "min_recommended_cli_version": "

[2020-01-30 21:54] ForestEckhardt commented on #118
Ruby 2.4.x version will be removed from the buildpack for versions released after April 1, 2020.

[2020-01-30 21:54] #118 closed

[2020-02-06 21:52] ForestEckhardt commented on #119
It is in the latest release on master!

[2020-02-06 21:52] #119 closed

[2020-02-14 17:29] ForestEckhardt commented on #120
This appears to be a problem between bundler and rake, not a problem with the buildpack itself. I am going to close this issue but if you have any other comments feel free to reopen it.

[2020-02-19 13:46] tlwr commented on #120
Hi @ForestEckhardt I think this issue should be re-opened and triaged.

The issue is caused change with bundler and rake, but changes to rubygems since 3.1 [citation needed] seem to have introduced this problem to anyone using the buildpack with bundler 2.

Installing, building, and running apps locally works fine with the versions of ruby supported by the buildpack, but the buildpack does not see

[2020-03-03 15:46] tlwr commented on #120
I think this can be closed as of https://github.com/cloudfoundry/ruby-buildpack/tree/v1.8.11

[2020-03-03 15:46] luisapace opened #121 "Ruby-buildpack-v1.8.1 contains a file under Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License?"
Hi, I'm referring to CF Deployment **12.2** and ruby-buildpack-v1.8.1.

Ruby-buildpack-v1.8.1, in https://github.com/cloudfoundry/ruby-buildpack/blob/v1.8.1/manifest.yml, include
ruby version: 2.5.6
uri: https://buildpacks.cloudfoundry.org/dependencies/ruby/ruby-2.5.6-linux-x64-cflinuxfs3-1edf7db5.tgz

and this blob include the file **"incorrect_words.yaml",** in the path ruby-2.5.6-linux-x64-cfli

[2020-03-03 19:26] kvedurmu opened #122 "IMPORTANT NOTICE: [ruby-buildpack] End of Support for ruby versions 2.4.x after 2020-04-03"
The first release of the Ruby buildpack after 2020-04-03 will no longer include ruby versions 2.4.x. These ruby versions will no longer be supported upstream.[1] Please migrate your Ruby apps to supported versions of ruby before that time.

Note: As 2.4.x is the current default for the Ruby version in the buildpack, the default Ruby version will be updated to 2.7.x as a part of this removal. If yo

[2020-03-05 18:39] #120 closed

[2020-03-16 09:35] luisapace commented on #121
Hi, do you have any news on this?

[2020-03-17 12:37] flavorjones commented on #121
See for reference https://github.com/ruby/did_you_mean/issues/105

[2020-03-17 12:58] flavorjones commented on #121
Context: Since Ruby 2.3, the basic Ruby distribution vendors the `did_you_mean` gem.

Based on the above linked-to issue, did_you_mean v1.2.1 and later do not have this file. Ruby was updated to use v1.2.1 in commit https://github.com/ruby/ruby/commit/1658fb3 which was first released in Ruby `v2_6_0_preview2`.

Thus my very quick investigation shows that yes, any ruby buildpack containing a versio

[2020-03-17 13:29] luisapace commented on #121
Thanks a lot. I'm going to contact our attorney to ask how to manage this: in view of that, could be possible to know:

- if you are planning any activity to solve this, and
- what are the versions of ruby-buildpack that are safe so we can verify their installation instead of that affected by this issue?

Thanks.

[2020-03-17 15:48] dwillist commented on #121
@luisapace Looks like the file that contains this license is only used to test & benchmark the code in question. Here: https://github.com/ruby/did_you_mean/blob/e5c481e64ca07ed05dbfc9768631d9270a05f5b1/evaluation/calculator.rb#L53

[2020-03-17 16:28] luisapace commented on #121
@dwillist Even if the file is only used for test but it's contained in the distributions of ruby we still have the problem; could you please confirm if it is contained OR not in the distributions of ruby version specified at https://github.com/cloudfoundry/ruby-buildpack/blob/v1.8.1/manifest.yml?

I mean: ruby 2.4.8, 2.4.9, 2.5.6, 2.5.7, 2.6.4, 2.6.5

I've found the problem in ruby 2.4.8, 2.4.9, 2

[2020-03-19 15:14] luisapace commented on #121
@dwillist @flavorjones Hi, may I kindly ask you if could you please confirm if it the file "incorrect_words.yaml", is contained OR not in the distributions of ruby versions specified at https://github.com/cloudfoundry/ruby-buildpack/blob/v1.8.1/manifest.yml?

I mean: ruby 2.4.8, 2.4.9, 2.5.6, 2.5.7, 2.6.4, 2.6.5

I've found the problem in ruby 2.4.8, 2.4.9, 2.5.6 and 2.5.7 as confirmed also by Mik

[2020-03-23 15:14] dwillist commented on #121
@luisapace ruby `2.6.4` and `2.6.5` both use the `did_you_mean` gem version `1.3.0` which has removed the `incorrect_words.yaml` file.

In the future an audit for this file in `2.6.4` and `2.6.5` could be preformed using a simple [`find`](https://linux.die.net/man/1/find) command.

[2020-03-23 15:32] luisapace commented on #121
@dwillist Hi Daniel, thanks for your comment.

PS. I'm confused on last sentence: why in the future should I perform an audit on those levels, if they do not include the bad file? could you please clarify?

[2020-03-26 14:43] luisapace opened #123 "what is the Ruby-buildpack without the file under Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License?"
Based on your last comments on the issue:

https://github.com/cloudfoundry/ruby-buildpack/issues/121

I've verified that the last Ruby-buildpack availailable (1.8.14) still contain the ruby versions affected by the file under Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License ("incorrect_words.yaml" from did_you_mean-1.2.0).

**I kindly ask you to indicate when you plan to

[2020-03-26 17:27] sclevine commented on #121
Closing and moving conversation to #123. 2.6.x do not contain the file.

[2020-03-26 17:27] #121 closed

[2020-03-26 17:30] sclevine commented on #123
We do not plan to release a ruby-buildpack without the file in question until all versions of ruby that contain the file are EOL. While there is no published EOL for Ruby 2.5, if it follows past versions of ruby, that date will likely be 2021-03-31.

The license in question does not appear to affect distribution of the buildpack, but CFF legal could be asked to review. (CC: @christopherclark)

[2020-03-30 08:49] luisapace commented on #123
@sclevine Hi, may I kindly ask you to clarify what you mean with: "The license in question does not appear to affect distribution of the buildpack" ? thanks

[2020-03-30 17:20] sclevine commented on #123
You are correct the licensed files are included in offline packaged versions of the buildpack.

However, my understanding is that Creative Commons NC just restricts *usage*[1] of the licensed files and does not affect the distribution of the files (or other files in the buildpack). Given that the Creative Commons NC files are not even used by the buildpack during its operation, it's not clear to m

[2020-04-01 17:31] andrew-edgar commented on #123
our legal team are still indicating having this file is a violation and we need some sort of remediation.  in theory this should be effecting the use of the ruby-buildpack by ANY commercial entry (IBM, SAP, VMWare etc).

The bad file is located in the ruby dependencies that are hosted on buildpacks.cloudfoundry.org.   Can this tea just replace the offending file in all the zips that are on buildpa

[2020-04-01 18:44] andrew-edgar commented on #123
I also found this ...

https://github.com/ruby/did_you_mean/issues/107

Which seems to indicate that file would never be used at runtime and so would be safe to remove from the tgz that we host.

[2020-04-02 18:28] luisapace commented on #123
Hi, I've consulted our Attorney and I insert here his explanation why we cannot have the file in the buildpack or in it’s dependencies:
"The yaml file is licensed under Creative Commons Attribution Non-Commercial Share Alike. Unlike other Creative Commons licenses, this license prevents a commercial entity from using the whole package because it contains this yaml file. Under the terms of the lice

[2020-04-02 19:23] sclevine commented on #123
The gem contains the YAML file, but it isn't used for anything. It's just a left over artifact from development of the gem itself. The Creative Commons Attribution Non-Commercial Share Alike only appears to apply to "primary use"[1]. Can you check with your attorney to confirm that it's still a problem for you if the file isn't used?

In the meantime, @kvedurmu can you with with @martys34 to deter

[2020-04-03 13:39] luisapace commented on #123
Hi, this is the legal position of our Attorney:

**_The Wiki page (https://wiki.creativecommons.org/wiki/NonCommercial_interpretation) has a disclaimer that says " THIS PAGE IS FOR INFORMATIONAL PURPOSES ONLY. CREATIVE COMMONS DOES NOT PROVIDE LEGAL ADVICE OR REPRESENTATION. CONSULT YOUR OWN LEGAL COUNSEL FOR LEGAL ADVICE. " Thus, this is not legal advice or guidance by the Creative Commons legal

[2020-04-03 20:07] martys34 commented on #123
I believe we can remove this file from the tarball after building the binary and re-tar it. However, we'd request that you make a PR for this change.

There is a task in our [CI repo](https://github.com/cloudfoundry/buildpacks-ci) that builds the binary. We already manipulate the tarball after it is built in certain cases (e.g. [here](https://github.com/cloudfoundry/buildpacks-ci/blob/master/tasks

[2020-04-06 15:19] luisapace commented on #123
Hi, just an update, I've please asked Andrew to make the PR. Thanks to all of you

[2020-04-06 16:03] andrew-edgar commented on #123
@martys34 I have submitted this PR https://github.com/cloudfoundry/buildpacks-ci/pull/67

Which should update the CI to remove the offending file. Please let me know how you want to test or update it and hopefully this will solve that issue.

[2020-04-09 16:28] luisapace commented on #123
@martys34 Hi, our Attorney will be able to give us the green line to our code only when this problem will be solved, so currently we are blocked; may I kindly ask you:

1. what do you have in plan: release a new level of buildpack with safe ruby binaries OR "regenerate" the previous buildpacks including the safe ruby binaries?
2. could you please give us an estimation of the target date of that?

[2020-04-10 15:12] kvedurmu commented on #123
Hey @luisapace this PR is currently in our team's backlog of things to review. Once we get it merged, we will cut a new ruby buildpack version with this fix. I'd expect to have this in the next week or so.

[2020-04-10 15:37] luisapace commented on #123
thanks for your quick reply!

[2020-04-15 20:23] andrew-edgar commented on #123
I see the PR was merged 2 days ago.  When will the dependencies that are stored be updated?

Thanks

[2020-04-15 21:42] kvedurmu commented on #123
Hey @andrew-edgar there are some pipeline issues on our end so I'd expect it to be another day or so before we get a buildpack update with this change.

If you see the latest changes on the develop branch to the [manifest](https://github.com/cloudfoundry/ruby-buildpack/blob/develop/manifest.yml) you can find a 2.5.8 ruby binary that has been re-built with this change. We're currently working on re

[2020-04-16 15:30] andrew-edgar commented on #123
I looked at 2.5.8 and it's pointing to a dependency that still has the wrong file in it.  so there must be something else to it as it's all part of the publishing of the dependencies.  Please let us know when the pipeline issues are worked out and if the dependencies are updated thanks.

as the new buildpack still references https://buildpacks.cloudfoundry.org/dependencies/ruby/ruby-2.5.7-linux-x6

[2020-04-16 22:45] kvedurmu commented on #123
@andrew-edgar just to clarify, the latest 2.5.8 dependency is https://buildpacks.cloudfoundry.org/dependencies/ruby/ruby_2.5.8_linux_x64_cflinuxfs3_738900ea.tgz. When I download it and run `tar tvf ruby_2.5.8_linux_x64_cflinuxfs3_738900ea.tgz | grep "incorrect_words"` I can see that the file has been removed.

We're still working on rebuilding the 2.5.7 binary so i'll post an update when I have mo

[2020-04-17 08:17] luisapace commented on #123
Hi, what about binaries for ruby 2.4.8 and 2.4.9? they have the same problematic file; are you going to rebuild them too or are you going to eliminate them at all from the buildpack? thanks for your support

[2020-04-17 13:30] kvedurmu commented on #123
Ruby 2.4.X will be deprecated in the next release of the ruby buildpack. See - https://github.com/cloudfoundry/ruby-buildpack/issues/122

So, this problem only applies for 2.5.X binaries

[2020-04-17 14:43] luisapace commented on #123
ok, thanks

[2020-04-21 19:42] andrew-edgar commented on #123
when can we expect an updated build pack to be released as we would like to use the latest to remove the incorrectly licensed file.

[2020-04-23 16:31] #122 closed

[2020-04-23 16:33] kvedurmu commented on #123
We just released Ruby Buildpack [1.8.17](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.8.17) which has re-built ruby 2.5.X binaries without the incorrect_words file. Please confirm that this looks good and we'll close the issue.

[2020-04-24 14:23] kvedurmu commented on #123
Closing this issue. Thanks for reporting this and PRing in the change!

[2020-04-24 14:23] #123 closed

[2020-04-29 17:02] luisapace opened #125 "Ruby-buildpack-v1.8.17 still contains the file under Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License"
Hi,
I'm referring to CF Deployment 12.2 and ruby-buildpack-v1.8.17.

This ruby-buildpack-v1.8.17 still contain the the file "incorrect_words.yaml" under Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License and that has been eliminated few days ago from ruby's binaries (at https://github.com/cloudfoundry/ruby-buildpack/issues/123).

I've found now this file in this new binary:

[2020-05-01 14:45] andrew-edgar commented on #125
As with the last issue I'm doing a PR to remove this file in the buildpacks-ci repo.

The PR is here https://github.com/cloudfoundry/buildpacks-ci/pull/68

[2020-05-01 17:41] dumez-k commented on #125
PR reviewed and merged. Will build the new jruby binaries and update this thread when the build is successful.

[2020-05-05 15:32] kvedurmu commented on #125
Hi @andrew-edgar @luisapace . We re-built jruby binaries using the PR. You can find the latest binaries on develop branch (https://github.com/cloudfoundry/ruby-buildpack/blob/develop/manifest.yml). However, it looks like this doesn't remove **all** references of that incorrect_words file.
[code]

[code]

So, I'm thinking that that PR needs to be extended a little to delete from these file paths as

[2020-05-05 15:47] luisapace commented on #125
@kvedurmu thanks for your work on it; yes, all the references have to be removed. Thanks

[2020-05-05 16:08] luisapace commented on #125
@kvedurmu thanks for your work on it; yes, all the references should be removed for congruence and completeness, even if this module in 9.1.17 contains a version of incorrect_words.yaml without any reference to the bad license in its header; and this was the same for jruby 9.1.17 binary included in the previous version of ruby.buildpack, so the problem has not been evidenced in the past for jruby

[2020-05-05 16:32] kvedurmu commented on #125
We'd appreciate it if your team could PR in another change to remove the remaining references. Thanks

[2020-05-06 18:59] andrew-edgar commented on #125
@kvedurmu I have created a NEW PR ... https://github.com/cloudfoundry/buildpacks-ci/pull/69

This one instead of picking certain paths to remove it just removes ALL references to the incorrect_words.yaml.

Hopefully this will improve things. :)

[2020-05-18 13:43] luisapace commented on #125
@kvedurmu Hi, may I kindly ask you the planned date for the new ruby-buildpack ? It's urgent for me start working on it as soon as possible. Thanks

[2020-05-18 14:01] kvedurmu commented on #125
@luisapace, apologies I didn't realize the latest PR was merged. I'll get something on our team's backlog to re-build the jruby binaries and reach back out once we get that done (hopefully sometime later this week).

[2020-05-18 14:14] luisapace commented on #125
@kvedurmu yes, thanks, because I'm fully stucked on this :-(

[2020-05-19 16:24] kvedurmu commented on #125
Hi @luisapace we just released https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.8.19 which has the re-compiled jruby binaries with the changes from the PR. I'm going to close this out, but feel free to open back up/file another issue if you notice any other problems.

[2020-05-19 16:24] #125 closed

[2020-05-19 16:28] luisapace commented on #125
thanks!

[2020-05-20 15:00] luisapace opened #132 "Ruby-buildpack-v1.8.19 still contains the file under Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License"
Hi,
I'm referring to CF Deployment 12.2 and ruby-buildpack-v1.8.19.

This ruby-buildpack-v1.8.19 still contain the the file "incorrect_words.yaml" under Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License.

I've just found this file in this new binary:

name: jruby
  version: 9.2.11.1
  uri: https://buildpacks.cloudfoundry.org/dependencies/jruby/jruby_9.2.11.1-ruby-2.5_linux

[2020-05-20 15:10] kvedurmu commented on #132
@luisapace I'm not seeing this in the 9.2.11.1 binary you linked.
[code]

Am I missing something?

[2020-05-20 15:21] luisapace commented on #132
@kvedurmu thanks for quick followup; you can find it unpacking the jruby-stdlib-9.2.11.1.jar, and then in the META-INF/jruby.home/lib/ruby/gems/shared/gems/did_you_mean-1.2.0/evaluation/incorrect_words.yaml

[2020-05-20 15:40] kvedurmu commented on #132
Interesting. So it looks like the PRs that were submitted by your team looks for the `incorrect_words.yaml` file in the file path via a generic find. If your team could submit a PR for this we'd be happy to take a look.

[2020-05-20 18:44] andrew-edgar commented on #132
@kvedurmu can you tell me whether I can use "zip" in the find?  because that would allow me to add additional logic to be able to delete from embedded jar files without having to extract then and rear them?

As in this case the bad file is inside a jar file that comes from an external source and is not extracted anytime during the build process.

[2020-05-21 07:48] luisapace commented on #132
Thanks, we are working on it!

[2020-05-26 06:59] luisapace commented on #132
@kvedurmu @andrew-edgar Hi, I'm sorry to write you again, are there any news on this issue?
The legal team is fully stacked on that and this is blocking also the legal work on CF Deployment 13. Let me know If I can do anything to help to proceed. Thanks.

[2020-05-26 16:51] andrew-edgar commented on #132
I am waiting for some feedback from @kvedurmu I'm not going to submit a PR if it's just going to be knocked back.  I have no access to a test env to test this so I need some help from the buildpack team here.

[2020-05-26 17:32] dumez-k commented on #132
@luisapace @andrew-edgar

Hi, sorry lots of other stuff on our plate, getting back to this now.

As we use zip in other places, this should work in our environments as well.

In order to format this command in the Runner module, you will want to call run like this, with only three arguments: ``` Runner.run('bash', '-c', '[your entire command]')```

Does this make sense? You need to explicitly call

[2020-05-27 16:49] andrew-edgar commented on #132
I have created PR https://github.com/cloudfoundry/buildpacks-ci/pull/70

[2020-05-28 16:27] luisapace commented on #132
@dumez-k  @kvedurmu Hi, this is just to highlight Andrew's PR creation (I'm not sure the system sent you the update). Thanks!

[2020-05-28 19:29] dumez-k commented on #132
Approved and merged, waiting for this to make it's way through our pipelines, we'll do validation to make sure the files are gone and then we can hopefully close this out.

[2020-05-29 19:51] kvedurmu commented on #132
@luisapace @andrew-edgar unfortunately, it's looking like this PR isn't working as expected. After the PR was merged, the team [rebuilt](https://github.com/cloudfoundry/ruby-buildpack/commit/2dc8f49c11204c975bdfc815fa6ab99e5fb53065) Jruby 9.2.11.1 using these changes and it appears that there is still an `incorrect_words.yaml` file in the jar. Here's what I'm seeing:

1. Download latest binary
[co

[2020-06-01 13:26] andrew-edgar commented on #132
Can you please investigate why it didn't work?  I do NOT have an environment where I can perform the same operations.  You need to give us some more information on what to do.  The round trip time of this is not going to work.  Please help us more by showing us the output of the commands and or helping debug this in the environment where it was happening.  This command worked on my MacBook but if

[2020-06-01 13:32] andrew-edgar commented on #132
I ran this ...

[code]

So this is working can you show us the output from the build and what is not working there?  What versions of the "zip" command do you have does it not support -d?

[2020-06-01 14:02] kvedurmu commented on #132
@andrew-edgar if my earlier comment wasn't clear, the latest jruby 9.2.11.1 binary (https://buildpacks.cloudfoundry.org/dependencies/jruby/jruby_9.2.11.1-ruby-2.5_linux_x64_cflinuxfs3_54b24279.tgz) has been re-built using your latest PR. Our CI containers are running Zip version `3.0`.

So, I was expecting that when I download the re-built binary and run the find command **without** the `zip -d` c

[2020-06-01 14:40] andrew-edgar commented on #132
@kvedurmu yeah I understood.  the strip_incorrect_words_yaml_from_tar should be calling that zip -d and since that worked on my MacBook I would have expected that to work in your build pipeline.

OK I think I "might" know what the issue is.

In the update I put this ...

[code]
But what we really want is ...

[code]

do you know how I can change the find to have the variable "dir" instead of "."

[2020-06-01 14:49] dumez-k commented on #132
Hi @andrew-edgar, looking into this now and came to the same conclusion. The find was looking in the wrong directory.

In order to pass in the dir variable, all you should need to do is wrap it in ```${}```.

The full command will look like: ``` Runner.run('bash', '-c', 'find ${dir} -name "*.jar" -exec grep -l incorrect_words.yaml {} \; | xargs -I {} zip -q -d {} "*incorrect_words.yaml"')```

Befo

[2020-06-01 14:52] luisapace commented on #132
@kvedurmu and @andrew-edgar first of all, let me thanks you for your work on this! I've a question for @kvedurmu: assuming that you will release a new ruby-buildpack without that file; in the future will you able to check the presence of that file also in the next ruby-builpacks and eliminate it from them if needed without our involvement or will you need other new PRs from us to do it? Thanks

[2020-06-01 15:20] kvedurmu commented on #132
@luisapace once the latest changes are made and PR is merged, I'd suggest that we work together and do one final pass of **all** ruby/jruby dependencies and confirm that the file is removed everywhere before we cut a release.

I can talk with our team about adding test coverage around this so that we aren't accidentally adding the file back in future release. Obviously, it's a little tricky to add

[2020-06-01 16:00] luisapace commented on #132
@kvedurmu I'm not a developer specialist, so maybe my question is stupid: it should be possible to run commands similar to that in PR, but parameterized so they can do a search of that file on the entire buildpack, shouldn't it? thanks again

[2020-06-01 18:16] dumez-k commented on #132
@luisapace @andrew-edgar to speed things up I went ahead and put the changes in myself after verifying they worked in our environments.

[HERE](https://buildpacks.cloudfoundry.org/dependencies/jruby/jruby_9.2.11.1-ruby-2.5_linux_x64_cflinuxfs3_95647f9a.tgz) is the latest build.

Could not find the offending file anywhere.

[2020-06-03 15:39] andrew-edgar commented on #132
@dumez-k thanks for making the change!  super happy this worked and removed the file.  We appreciate the help for sure.

[2020-06-03 17:33] kvedurmu commented on #132
@andrew-edgar @luisapace could one of you validate that the latest re-built binaries on the develop branch look good (https://github.com/cloudfoundry/ruby-buildpack/blob/develop/manifest.yml). Once you do that, we'll work on getting another release out. Thanks!

[2020-06-04 20:57] andrew-edgar commented on #132
I took a look at the dependencies and it does look good to me.  thanks

[2020-06-08 10:00] luisapace commented on #132
@kvedurmu I've opened the binaries at that manifest.yml and I've found them free of the bad file!!!
waiting for the new release!

@andrew-edgar @kvedurmu @dumez-k thanks a lot of all of you!

[2020-06-09 20:59] kvedurmu commented on #132
Hi @luisapace @andrew-edgar thanks for confirming! We've just released [v1.8.20](https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.8.20) of the ruby buildpack which has the re-built jruby binaries without this file.

I'm hoping this is the end of incorrect_words.yaml so I'm going to close this out, but feel free to raise another issue if you observe this file anywhere else 😄.

[2020-06-09 20:59] #132 closed

[2020-08-15 13:08] sumanthgoud924 opened #151 "msfdb init"
unable to run msfdb init
after complete update and upgrade

root@kali:~# msfdb
Traceback (most recent call last):
        2: from /usr/local/bin/msfdb:10:in `<main>'
        1: from /usr/local/lib/site_ruby/2.7.0/rubygems/core_ext/kernel_require.rb:92:in `require'
/usr/local/lib/site_ruby/2.7.0/rubygems/core_ext/kernel_require.rb:92:in `require': cannot load such file -- rex/socket (LoadError)
roo

[2020-09-16 10:38] frankieroberto opened #161 "Update node to 12.18?"
Are there any plans for a release which bundles the latest LTS version of Node (12.18)?

[2020-10-06 16:52] kvedurmu commented on #161
Hi. We only maintain a single version line of Node.js in the Ruby Buildpack (10.x). When Node 10.x goes EOS in April 2021, we will bump Node.js to the next LTS line (which will likely be 12.18). Closing this for now, but feel free to open back up if you have any questions.

[2020-10-06 16:52] #161 closed

[2020-10-06 17:00] kvedurmu commented on #151
Hi. It's likely that the core C libraries needed to use `msfdb` in Cloud Foundry are not installed by default on the [CFlinuxfs3 stack](https://github.com/cloudfoundry/cflinuxfs3/blob/main/receipt.cflinuxfs3.x86_64).

What you can do here is determine the C libraries that are needed ([this seems promising](https://github.com/cloudfoundry/cflinuxfs3/blob/main/receipt.cflinuxfs3.x86_64)), and use th

[2020-10-22 18:10] tmobaird opened #164 "Droplet/Cache size of built image much larger after upgrading from ruby 2.6.6 to 2.7.2"
Cloud Foundry Version: **2.8.14-build.7**
CF CLI Version: **6.51.0**
Buildpack Version: **v1.8.26**

My team recently updated our app's ruby version 2.6.6 to 2.7.2 and when `cf push`ing the app the droplet + cache size dramatically increased from around 650MB-700MB to 1.3GB-1.4GB. I checked for any large scale code changes, and there was nothing that jumped out to me that would trigger that increa

[2020-11-19 19:25] ForestEckhardt commented on #151
Closing due to inactivity. Please feel free to reopen if you have an update or more to discuss.

[2020-11-19 19:25] #151 closed

[2020-12-11 22:37] ryanmoran commented on #164
Resolved in https://github.com/cloudfoundry/ruby-buildpack/commit/047c24752db32cf7e49a1012de1b0e0f400799cc. This will be coming out in the next release.

[2021-01-08 15:40] thitch97 opened #183 "Ruby 3.0.0 breaks test fixtures"
Brats tests are failing due to the introduction of Ruby version 3.0.0. The brats_ruby fixture Gemfile.lock file needs to be updated to utilize different gem versions that work in cooperation with Ruby 3.0.0. We are not currently able to push thebrats_ruby app with an update Gemfile.lock. More investigation is needed to figure out what the problem is.
The error we see when we push the app is:
`ERR

[2021-01-19 23:01] #164 closed

[2021-01-27 15:43] Rylon commented on #183
Is Ruby 3 supported at all in the build pack? I don't see it as one of the versions.

[2021-01-27 17:43] thitch97 commented on #183
Hi @Rylon, we removed Ruby 3 temporarily due to compatibility issues we noticed during testing. The work to rectify this is ongoing and Ruby 3 support will be restored once those issues have been resolved.

[2021-01-27 20:51] Rylon commented on #183
Hi @thitch97 thanks for the reply, I understand, good luck with the fixes.

[2021-02-24 18:38] thitch97 commented on #183
This issue has been resolved. Ruby 3.0.0 should be available with the next release of the buildpack.

[2021-02-24 18:38] #183 closed

[2021-03-23 15:20] kvedurmu opened #218 "IMPORTANT NOTICE: [ruby-buildpack] End of Support for ruby versions 2.5.x after 2021-04-23"
The first release of the Ruby buildpack after 2021-04-23 will no longer include ruby versions 2.5.x. These ruby versions will no longer be supported upstream.[1] Please migrate your Ruby apps to supported versions of ruby before that time.

Note: Unless you are manually specifying a version of Ruby for the buildpack to use, or you have customized your Ruby buildpack, no action is required.

As alw

[2021-04-11 22:05] cf-buildpacks-eng opened #232 "**Release:** ruby-buildpack 1.8.37"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-04-12 12:51] cf-buildpacks-eng opened #233 "**Release:** ruby-buildpack 1.8.37"
**Dependency Changes:**

[code]

**New Commits on Develop**:

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-04-12 12:53] #233 closed

[2021-04-12 13:02] cf-buildpacks-eng opened #234 "**Release:** ruby-buildpack 1.8.37"
**Dependency Changes:**

[code]

**New Commits on Develop**:

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-04-12 13:11] #234 closed

[2021-04-12 13:26] cf-buildpacks-eng opened #235 "**Release:** ruby-buildpack 1.8.37"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-04-12 13:30] #235 closed

[2021-04-12 13:30] cf-buildpacks-eng opened #236 "**Release:** ruby-buildpack 1.8.37"
**Dependency Changes:**

[code]

**New Commits on Develop**:

5f5899d7 Auto merge pull request 231
31ff3954 Add rubygems 3.2.16, remove rubygems 3.2.15
4088ba89 Auto merge pull request 230
6797bfdb Add bundler 2.2.16, remove bundler 2.2.15
8df40bc9 Merge pull request #229 from bbodenmiller/patch-1
21b1de31 Update libbuildpack
1cbc2f7b Improve formatting
be0ec0aa Auto merge pull request 228
8d3429f

[2021-04-12 13:31] #232 closed

[2021-04-17 01:00] #236 closed

[2021-04-18 22:05] cf-buildpacks-eng opened #237 "**Release:** ruby-buildpack 1.8.38"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-04-19 21:48] #237 closed

[2021-04-26 13:42] cf-buildpacks-eng opened #238 "**Release:** ruby-buildpack 1.8.38"
**Dependency Changes:**

[code]

**New Commits on Develop**:

6a938323 Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-04-27 19:35] emmjohnson commented on #218
https://github.com/cloudfoundry/ruby-buildpack/commit/5934a351b84d68ed24f41c0b91fceed1b5f3c184

[2021-04-27 21:40] shanks3012 opened #239 "NOTICE: [ruby-buildpack] End of support for Node.js versions 10.x.x after 2021-05-27"
The default version of Node.js in the Ruby buildpack will change from the latest 10.x.x version to the latest 14.x.x version in the first release of the Ruby buildpack after May 27, 2021. Due to the end of upstream support for Node.js 10.x.x, all buildpack users should ensure that their Ruby apps run on a minimum buildpack supported version of Node.js 14.x.x or later.

Additionally, the Ruby build

[2021-05-02 22:04] cf-buildpacks-eng opened #240 "**Release:** ruby-buildpack 1.8.38"
**Dependency Changes:**

[code]

**New Commits on Develop**:

818151d0 Update libbuildpack
81b2b06b Update libbuildpack
16ab8510 Bump brats tests from 2.5.x to 2.7.x
5934a351 Remove ruby versions 2.5.x
6a938323 Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-03 20:01] thitch97 opened #241 "Ruby app fails to start using Rails 5.2 without sprockets"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
[code]
What version of the buildpack you are using?
1.8.37

If you were attempting to accomplish a task, what was it you were attempting to do?
Build a Rails 5.2 application without using webpack/yarn instead of sprockets

What did you expect to happen?
App should start suc

[2021-05-04 15:41] shanks3012 commented on #239
For Buildpacks team -

This issue requires that the Ruby buildpack add in support for Node.js 14.x in addition to the already supported Node.js 10.x.

[2021-05-07 20:30] fg-j commented on #240
A version of this buildpack has been released https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.8.38

[2021-05-07 20:30] #240 closed

[2021-05-07 20:30] fg-j commented on #239
A version of the buildpack has been released adding node 14 https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.8.38

[2021-05-07 20:30] #239 closed

[2021-05-07 20:32] fg-j commented on #218
A version of the buildpack has been released with ruby 2.5 removed https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.8.38

[2021-05-07 20:32] #218 closed

[2021-05-09 22:05] cf-buildpacks-eng opened #247 "**Release:** ruby-buildpack 1.8.39"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-12 17:21] emmjohnson commented on #247
Nothing to ship this week. Closing.

[2021-05-12 17:21] #247 closed

[2021-05-12 22:58] tmobaird opened #252 "Ruby app choosing node 14.16.1 instead of 10.24.1"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
**cf version 6.50.0+4f0c3a2ce.2020-03-03**

What version of the buildpack you are using?
**v1.8.38**

If you were attempting to accomplish a task, what was it you were attempting to do?
**Cf push rails app with webpacker**

What did you expect to happen?
**The app to compil

[2021-05-16 22:04] cf-buildpacks-eng opened #253 "**Release:** ruby-buildpack 1.8.39"
**Dependency Changes:**

[code]

**New Commits on Develop**:

6e563584 Auto merge pull request 251
0514bd33 Add node 14.17.0, remove node 14.16.1

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-18 18:42] arjun024 commented on #238
Looks like this is done from this comment https://github.com/cloudfoundry/ruby-buildpack/issues/239#issuecomment-834755397

[2021-05-18 18:42] #238 closed

[2021-05-18 18:54] arjun024 commented on #253
Done. See https://buildpacks.ci.cf-app.com/teams/main/pipelines/ruby-buildpack/jobs/ship-it/builds/103

[2021-05-18 18:54] #253 closed

[2021-05-23 22:02] cf-buildpacks-eng opened #257 "**Release:** ruby-buildpack 1.8.40"
**Dependency Changes:**

[code]

**New Commits on Develop**:

e129d24f Re-bootstraps with github-config
6fef57bf Updates scripts
db0d9580 Update scripts
c81896c5 Bootstraps github config
f2c6425e Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-05-25 00:38] shanks3012 commented on #252
Upstream Node has deprecated the 10.x version line and thus the Ruby buildpack will be removing support for Node 10.x after May 27th, 2021. see issue #239

This is expected behavior at this time as we introduced the 14.x.x version line of Node.js into the Ruby buildpack to allow folks time to ensure apps can build using 14.x.x prior to removing the 10.x.x Node.js version line from the buildpack.

[2021-05-25 00:38] #252 closed

[2021-05-25 16:43] #257 closed

[2021-05-28 04:04] cf-buildpacks-eng opened #262 "Dependency Deprecation: node 10.x"
Deprecation date: 2021-04-30
Link: https://github.com/nodejs/LTS

[2021-05-28 04:04] cf-buildpacks-eng opened #263 "Dependency Deprecation: node 10.x.x"
Deprecation date: 2021-04-01
Link: https://github.com/nodejs/Release

[2021-05-30 22:03] cf-buildpacks-eng opened #264 "**Release:** ruby-buildpack 1.8.40"
**Dependency Changes:**

[code]

**New Commits on Develop**:

8e5d8add Auto merge pull request 259
ca2edf6b Add bundler 2.2.18, remove bundler 2.2.17
3febe132 Auto merge pull request 258
910c8a07 Add rubygems 3.2.18, remove rubygems 3.2.17
e129d24f Re-bootstraps with github-config
6fef57bf Updates scripts
db0d9580 Update scripts
c81896c5 Bootstraps github config
f2c6425e Update libbuildpack

Refer

[2021-06-01 16:34] arjun024 commented on #263
The work for this is done in https://github.com/pivotal-cf/tanzu-buildpacks/issues/32

[2021-06-01 16:34] arjun024 commented on #262
The work for this is done in https://github.com/pivotal-cf/tanzu-buildpacks/issues/32

[2021-06-03 18:02] #263 closed

[2021-06-03 18:02] #262 closed

[2021-06-06 22:01] cf-buildpacks-eng opened #271 "**Release:** ruby-buildpack 1.8.41"
**Dependency Changes:**

[code]

**New Commits on Develop**:

None

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-06-11 18:56] arjun024 commented on #271
No changes to merit a release

[2021-06-11 18:56] #271 closed

[2021-06-13 22:04] cf-buildpacks-eng opened #275 "**Release:** ruby-buildpack 1.8.41"
**Dependency Changes:**

[code]

**New Commits on Develop**:

f2423450 Auto merge pull request 274
d77af940 Add rubygems 3.2.20, remove rubygems 3.2.19
5449c0ca Auto merge pull request 273
af063315 Add bundler 2.2.20, remove bundler 2.2.19
f3178caa Merge pull request #269 from cloudfoundry/automation/github-config/update
375e13e2 Updating github-config
d3ae5097 Update libbuildpack
363ac7fb Update

[2021-06-14 15:40] AccraZed commented on #275
Released

[2021-06-14 15:40] #275 closed

[2021-06-20 22:03] cf-buildpacks-eng opened #280 "**Release:** ruby-buildpack 1.8.42"
**Dependency Changes:**

[code]

**New Commits on Develop**:

3e318216 Updating github-config
ebef30c6 Auto merge pull request 278
55329cbe Add jruby 9.2.19.0, remove jruby 9.2.18.0
6ff030da Update libbuildpack
6f27a91c Auto merge pull request 277
82bd631f Add node 14.17.1, remove node 14.17.0

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_versi

[2021-06-23 21:04] #280 closed

[2021-06-23 21:04] cf-buildpacks-eng opened #284 "**Release:** ruby-buildpack 1.8.42"
**Dependency Changes:**

[code]

**New Commits on Develop**:

b87d5d81 Auto merge pull request 283
6c0dd80d Add rubygems 3.2.21, remove rubygems 3.2.20
16781f35 Auto merge pull request 282
01e3104b Add bundler 2.2.21, remove bundler 2.2.20
ce6f3348 Update libbuildpack
3e318216 Updating github-config
ebef30c6 Auto merge pull request 278
55329cbe Add jruby 9.2.19.0, remove jruby 9.2.18.0
6ff030da Up

[2021-06-23 21:08] #284 closed

[2021-06-27 22:02] cf-buildpacks-eng opened #285 "**Release:** ruby-buildpack 1.8.42"
**Dependency Changes:**

[code]

**New Commits on Develop**:

0c99f3f6 Bump version to 1.8.42
b87d5d81 Auto merge pull request 283
6c0dd80d Add rubygems 3.2.21, remove rubygems 3.2.20
16781f35 Auto merge pull request 282
01e3104b Add bundler 2.2.21, remove bundler 2.2.20
ce6f3348 Update libbuildpack
3e318216 Updating github-config
ebef30c6 Auto merge pull request 278
55329cbe Add jruby 9.2.19.0, r

[2021-06-28 16:37] #285 closed

[2021-07-04 22:02] cf-buildpacks-eng opened #289 "**Release:** ruby-buildpack 1.8.43"
**Dependency Changes:**

[code]

**New Commits on Develop**:

38f3279c Removes BUNDLED WITH from versions unit specs
1207574f Auto merge pull request 288
22f7050a Add node 14.17.2, remove node 14.17.1
f2bf5d36 Updating github-config
f315a290 Updating github-config
0030ea42 Updating github-config

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_ver

[2021-07-07 17:44] arjun024 commented on #289
Make sure newest security patches are shipped with this release.
See
https://www.ruby-lang.org/en/news/2021/07/07/ruby-3-0-2-released/

https://www.ruby-lang.org/en/news/2021/07/07/ruby-2-7-4-released/

https://www.ruby-lang.org/en/news/2021/07/07/ruby-2-6-8-released/

[2021-07-08 22:19] arjun024 commented on #289
Released https://github.com/cloudfoundry/ruby-buildpack/releases/tag/v1.8.43

[2021-07-09 14:15] #289 closed

[2021-07-12 20:04] cf-buildpacks-eng opened #298 "**Release:** ruby-buildpack 1.8.44"
**Dependency Changes:**

[code]

**New Commits on Develop**:

ec2e91e4 Update libbuildpack
3c1a0953 update vendor
c329beb7 Update libbuildpack
e45b54ff Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-07-13 16:45] cf-buildpacks-eng opened #300 "**Release:** ruby-buildpack 1.8.44"
**Dependency Changes:**

[code]

**New Commits on Develop**:

204d2559 Updating github-config
ec2e91e4 Update libbuildpack
3c1a0953 update vendor
c329beb7 Update libbuildpack
e45b54ff Update libbuildpack

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-07-13 18:26] #300 closed

[2021-07-14 02:55] matobinder opened #301 "Ruby buildpacks do not work well with bundler >= 2.2.x"
What version of Cloud Foundry and CF CLI are you using? (i.e. What is the output of running `cf curl /v2/info && cf version`?
[code]

What version of the buildpack you are using?
  `ruby_buildpack-cached-cflinuxfs3-v1.8.39.zip`

If you were attempting to accomplish a task, what was it you were attempting to do?
  `cf push`

What did you expect to happen?
To give this warning (invalid warning)

Wha

[2021-07-14 19:00] arjun024 commented on #298
No changes to release

[2021-07-14 19:00] #298 closed

[2021-07-18 22:05] cf-buildpacks-eng opened #306 "**Release:** ruby-buildpack 1.8.44"
**Dependency Changes:**

[code]

**New Commits on Develop**:

5d2f22b2 Update libbuildpack
7e645b13 Updating github-config
d53ec6bd Updating github-config
ff871cee Auto merge pull request 303
d51966bf Add rubygems 3.2.24, remove rubygems 3.2.22
0d9c0e8b Auto merge pull request 302
eff75fd9 Add bundler 2.2.24, remove bundler 2.2.22
204d2559 Updating github-config
ec2e91e4 Update libbuildpack
3c1a09

[2021-07-19 19:19] cf-buildpacks-eng opened #307 "**Release:** ruby-buildpack 1.8.44"
**Dependency Changes:**

[code]

**New Commits on Develop**:

5d2f22b2 Update libbuildpack
7e645b13 Updating github-config
d53ec6bd Updating github-config
ff871cee Auto merge pull request 303
d51966bf Add rubygems 3.2.24, remove rubygems 3.2.22
0d9c0e8b Auto merge pull request 302
eff75fd9 Add bundler 2.2.24, remove bundler 2.2.22
204d2559 Updating github-config
ec2e91e4 Update libbuildpack
3c1a09

[2021-07-19 21:51] bhh1893 opened #308 "IMPORTANT NOTICE: [ruby-buildpack] Deprecation Notice Policy Changes"
Attention Buildpacks users:

The Buildpacks team will no longer provide notices regarding the deprecation or removal of buildpack dependencies effective 30 days from the date of this notice.

Information about buildpacks and their dependencies (including dependency deprecation dates) can now be found at: https://buildpacks.cloudfoundry.org/#/buildpacks

As part of this change, version lines of bui

[2021-07-20 18:04] AccraZed commented on #307
Release cut. Closing.

[2021-07-20 18:04] #307 closed

[2021-08-12 15:03] rahearn commented on #99
I'm seeing what I think is the same issue with a Gemfile.lock that has:

[code]

But is fixed when I add plain `ruby` to the platforms:

[code]

It was surprising, since Windows wasn't one of the platforms on either entry, and I would have expected that the presence of `x86_64-linux` would let bundle install work correctly.

[2021-08-18 19:58] cf-buildpacks-eng opened #322 "**Release:** ruby-buildpack 1.8.45"
**Dependency Changes:**

[code]

**New Commits on Develop**:

f8320282 Auto merge pull request 321
d843ab84 Add bundler 2.2.26, remove bundler 2.2.25
9da20a41 Auto merge pull request 320
4cdd9eca Add rubygems 3.2.26, remove rubygems 3.2.25
23e0e2c4 Updating github-config
a3864e5f Adds github-token for integration suite
be2686a4 Auto merge pull request 318
2ae8b092 Add node 14.17.5, remove node 14.

[2021-08-23 16:18] #322 closed

[2021-08-30 15:52] arjun024 commented on #301
Fixed in v1.8.46

[2021-08-30 15:52] #301 closed

[2021-09-07 23:40] menehune23 commented on #241
Hey @thitch97, is this still important to look into?

[2021-09-10 19:14] cf-buildpacks-eng opened #331 "**Release:** ruby-buildpack 1.8.47"
**Dependency Changes:**

[code]

**New Commits on Develop**:

75f802d8 Updating github-config
7e646b89 Updating github-config
64a0a42d Updating github-config
f59ad5de Updating github-config
12678e3b Updating github-config
dc054537 Updating github-config
ccdc19a6 Adds platform flag for integration suite
ef065306 Auto merge pull request 328
aa929b9b Add bundler 2.2.27, remove bundler 2.2.26
c2bb0fa8

[2021-09-29 20:44] #331 closed

[2021-09-30 20:01] arjun024 opened #341 "Add node 16.x to ruby-buildpack"
With Node.js buildpack setting node 16.x as the default version (https://github.com/cloudfoundry/nodejs-buildpack/releases/tag/v1.7.62) and 16.x beginning Active LTS (https://github.com/nodejs/Release), it's reasonable for a user to expect Node.js 16.x as part of the Ruby buildpack.

#### Expectation
I expect a release of Ruby buildpack containing node 16.x and to support [an app like this example

[2021-10-04 18:42] cf-buildpacks-eng opened #343 "**Release:** ruby-buildpack 1.8.48"
**Dependency Changes:**

[code]

**New Commits on Develop**:

145b29c8 Auto merge pull request 340
f55d7ea0 Add yarn 1.22.15, remove yarn 1.22.12

Refer to [release instructions](https://docs.cloudfoundry.org/buildpacks/releasing_a_new_buildpack_version.html).

[2021-12-10 22:57] menehune23 commented on #241
Closing as stale. Feel free to reopen if necessary @thitch97

[2021-12-10 22:57] #241 closed

[2022-02-09 16:52] #341 closed

[2022-02-11 15:56] #306 closed

[2022-04-07 23:51] #308 closed

[2022-04-28 10:03] will-gant opened #448 "Ruby and JRuby CVEs"
Hi there. I'm an engineer from the consultancy EngineerBetter, currently working with SAP's [Control Plane team](https://github.com/orgs/SAP/teams/cf-controlplane). We've been running security scans with [Black Duck](https://www.blackducksoftware.com/) on various dependencies, including buildpacks, and one of those scans has revealed a number of CVEs in dependencies of the ruby-buildpack. This iss

[2022-04-28 10:30] will-gant commented on #448
Just noting here that JRuby [v9.2.20.1](https://github.com/jruby/jruby/releases/tag/9.2.20.1) is already the latest patch of 9.2.x. It was released in December 2021 in response to another CVE, which suggests it's still getting security patches (though the release notes say "_We recommend that all JRuby 9.2 users upgrade._").

9.1.x, on the other hand, looks very much end-of-life. The buildpack is

[2022-04-28 14:31] arjun024 commented on #448
Hi @will-gant, thank you filing the issue. We'll take a detailed look at this but I'd like to note down a couple of things before that:

* When a CVE is reported on a particular version, we make sure that the buildpack contains the updated (fixed) version. But, we do not remove the version where the CVE was reported regardless of the severity. Buildpacks thus ship multiple versions of a given depe

[2022-04-28 16:41] will-gant commented on #448
Thanks for getting back to me so quickly, and for the indication on end-of-life dependency lines. To be clear, I realise older version lines need to be included, but I guess that's only so long as they're still being actively patched by their maintainers.

When those version lines _are_ still being maintained, your timetable for consuming patches that tackle any CVEs sounds great. I think the awkw

[2022-05-04 10:40] will-gant commented on #448
Just a note that I've updated the '_Minimum recommended version bump_' for ruby 3.0.2 from 3.1.1 to 3.1.2, as it turns out 3.1.1 also has a couple of CVEs:

* [CVE-2022-28738](https://www.ruby-lang.org/en/news/2022/04/12/double-free-in-regexp-compilation-cve-2022-28738/)
* [CVE-2022-28739](https://www.ruby-lang.org/en/news/2022/04/12/buffer-overrun-in-string-to-float-cve-2022-28739/)

[2022-05-04 20:09] brayanhenao commented on #448
Hi @will-gant , after discussing it with the team we have decided to remove `JRuby 9.1.X` from the Ruby Buildpack since it no longer has security support.

The versions still present in the Buildpack (`9.2.20.1` and `9.3.4.0`) will continue to be updated as their security patch is released by JRuby team.

[2022-05-04 20:09] #448 closed

[2022-05-05 08:33] will-gant commented on #448
Thanks. As there don't seem to be any (formal or informal) EOL announcements for JRuby version lines - I can't find any for 9.1.x - at some point a judgment call will have to be made on whether we regard 9.2.x as still being maintained.

As mentioned, their security fixes for 9.2.x are pretty infrequent now, and their release notes advise upgrading. But I appreciate that's probably not quite enoug